[2021-06-03 16:40] sgoll opened #674 "Support STM32F2 chip series"
The library should support the STM32F2 series of chips from STMicroelectronics (STM32F205/215 and STM32F207/217).

[2021-06-03 17:52] #674 closed

[2021-06-03 21:26] alekseysidorov commented on #665
I use JLINK programmer.

[2021-06-04 06:25] Tiwalun commented on #665
I think this is most likely a bug in our JTAG implementation for the J-Link. Unfortunately, it is not the same as for the FTDI based probes.

The error message is a bit misleading, but the DTM version 13 does not make any sense, the only allowed versions according to the spec are 0 and 1. See section 6.1.4 of the [RISCV Debug Spec].

[RISCV Debug Spec]: https://raw.githubusercontent.com/riscv/risc

[2021-06-04 09:11] alekseysidorov commented on #665
I.e my probe reports a weird DTM version bit, therefore `probe-rs` doesn't know how to deal with it. Unfortunately, I use the Chinese JLINK clone. So, I can try to disable version check and see what happens.

[2021-06-04 10:17] Tiwalun commented on #665
The version check is not the problem. I now rembember why this is not working.

For the FTDI probes, we support multiple TAPs in a JTAG chain, and can select the appropriate one for the `GD32VF103CBT6`.  For J-Link probes (original and clones), we don't support this yet. This means that we don't support that chip with J-Link right now.

To fix it, we have to add support for JTAG chains to our J-Li

[2021-06-04 21:52] mattico commented on #168
I had this issue with a DAPLink Probe connected to a STM32H743ZIT6 over SWD at 24000kHz. Reducing the speed to 20000kHz stops the issue from happening - or at least its so infrequent that I haven't seen it yet. Might just be a signal integrity issue?

[2021-06-05 19:56] john-terrell opened #681 "CMSIS-DAP+EDBG+MacOS fails with "Unexpected answer to command""
It looks like the recent changes to CMSIS-DAP to use an initial 64 byte report size don't work on MacOS with EDBG.   It *does* work on Windows.   If I manually change the 64 byte report size to 512 on my Mac it works.

[2021-06-05 21:50] adamgreig commented on #681
Ah, dang. I don't have ready access to any Macs to test on, but that's a real shame since it even worked on Windows.

I guess the next option is either:

1. Lookup table of probes known to have non-64-byte reports (sucks to maintain, doesn't work with new probes)
2. Find some MacOS specific API to determine report size (???)
3. Try a handful of report sizes on first connection until the real repor

[2021-06-05 23:01] vipierozan99 opened #682 "Support for TI Stellaris In-Circuit Debug Interface (ICDI)"
I have the [TM4C123](https://www.ti.com/tool/EK-TM4C123GXL) board here and have been testing out some Rust on it. I can flash it with lm4flash and debug it with OpenOCD/GDB.

It would be very cool to use probe-rs with it, but when I run `probe-rs-cli list` I get `No devices were found.`.
Running it with sudo `sudo $(which probe-rs-cli) list` gives the same result.

The board entry in `lsusb` is `B

[2021-06-09 22:30] Dirbaio opened #684 "The new DownloadOptions API is confusing"
you can either do the "struct style"

[code]

or the "builder style"

[code]

IMO there should be only one way of doing things. Makes the API easier to understand, makes code easier to read since it all does it the same way.

Also, builders typically allow you to not use chaining, but not this one:

[code]

IMO the best style is "struct style": it gives a quite ergonomic API and requires zero boil

[2021-06-09 22:31] Dirbaio commented on #684
More on the line of "there is two ways of doing the same thing": `::new()` and `::default()` do the exact same thing. IMO there should be only `::default()`.

[2021-06-09 22:51] Yatekii commented on #684
Personally I prefer `new` over `default`, tho `default` would be the proper rustic style; so I am ok with having just `default`. Tho I see no harm in having `new` as an alias. Most libs do it afaik :)

As for the public fields vs builder style, yes, I believe, if we choose the builder style, we should not make the fields public. In any case, I wont be in favor of either.

Concerning the consuming

[2021-06-09 23:14] Dirbaio commented on #684
No strong opinion on this one, I guess it's fine as long as `new` documents it returns the same as `default.

Builders usually take `&mut self` and return `&mut Self` so you *can* chain if you want to, but still have the option to not chain. If you're forced to chain, conditionally setting fields becomes super awkward, while it's super easy with a PORS.

[code]

When rust didn't have `non_exhausti

[2021-06-09 23:20] Yatekii commented on #682
Hi @vipierozan99!

1. I am not sure how exactly the ICDI looks in terms of the API, but if it implements basic operations such as reading/writing memory and perfoming CPU operations such as run/halt/step/breakpoints, it should be no issue to implement it :)

2. Hard to say. We are still actively fixing bugs and performance issues and perfroming general maintenance on the ARM interface which is wor

[2021-06-12 16:29] burrbull opened #686 "Nu-Link support"
https://github.com/OpenNuvoton/OpenOCD-Nuvoton/compare/674141e8a7a6413cb803d90c2a20150260015f81...master
(GPL-2.0 License)

[2021-06-16 00:30] d-asnaghi opened #693 "Do not use spaces in target .yaml filenames"
**Is your feature request related to a problem? Please describe.**

I am working on integrating `probe-rs` with a Bazel based build system.
At the moment I am hitting a problem since some of the filenames in the crate contain spaces and this does not play nice with the way Bazel handles filenames.
 I looked at the code, and the spaces do not seem to be necessary for `probe-rs to work`

**Describe

[2021-06-16 01:03] Yatekii commented on #693
Fixed in #694 :) Thanks!

I wonder why Bazel needs integration with probe-rs but I like that people like the project :) Keeps us going!

[2021-06-16 01:03] #693 closed

[2021-06-16 03:04] #320 closed

[2021-06-18 23:42] Yatekii opened #701 "Validate the target description files at the parsing level."
**Is your feature request related to a problem? Please describe.**
Currently all the targets contain string identifiers and indices for lookup of algorithms and cores (once #565 is merged).
This is not validated other than where we use the algorithm/core. This is not favorable as it could be detected way earlier and reduce the error path/surface.

**Describe the solution you'd like**
Validate the

[2021-06-18 23:45] Yatekii opened #919 "Update target-gen for multicore description generation."
Implement this once https://github.com/probe-rs/probe-rs/pull/565 is merged.

cc @Dirbaio @diondokter

[2021-06-18 23:52] Yatekii opened #702 "Use the right core inside the debugger."
Currently much of the debugger code just uses core(0), but with #565 merged it should actually use the situationally correct core.

@Dirbaio @noppej @diondokter

[2021-06-20 09:51] huntc opened #703 "Debugging when wfe is used doesn't appear to work"
I am unable to observe my code stopping at breakpoints when `wfe()` is used.

Steps to reproduce the behavior:

1. Clone the https://github.com/titanclass/microrust-start repo
2. Open the project in VS Code
3. Install the probe-rs debugger and VS Code extension
4. Set a breakpoint on the loop statement of the main.rs
5. Debug from within VS Code

I expect the debugger to stop at the breakpoint set

[2021-06-20 09:55] Disasm commented on #703
Have you tried this? https://github.com/probe-rs/probe-rs/issues/350#issuecomment-740550519

[2021-06-20 11:17] huntc commented on #703
Thanks for replying. Yes, different chip. Plus the other debugger works with no code change required.

[2021-06-20 18:18] ctron opened #704 "Operation timed out with STM32L432KCUx"
**Describe the bug**

I am trying to get "blinky" of https://github.com/embassy-rs/embassy/tree/master/examples/stm32l4 running with an STM32L432KCUx developer board.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/embassy-rs/embassy`
2. `cd embassy/examples/stm32l4`
3. `cargo run --release --bin blinky`

**Expected behavior**

Should work.

**Stacktrace**

[cod

[2021-06-20 18:43] Dirbaio commented on #704
`probe-run` is stuck on a quite old `probe-rs` version. Can you try again with `cargo install --git https://github.com/Dirbaio/probe-run`?

If it still happens, can you paste the full trace logs? `cargo run --release --bin blinky -- -vv`

[2021-06-21 06:53] ctron commented on #704
Awesome! Yes, that fixed the issue!

I guess it may be beneficial to release a newer version of probe-run then.

[2021-06-21 12:35] Yatekii commented on #704
That's not their mistake tho, we didn't release in a long time, which makes it impossible for them to update :)

A release on our side is iminent tho.

[2021-06-21 13:39] noppej commented on #703
Hi @huntc  ... I will look into this today. Thanks for taking the time to create such a detailed bug report!

[2021-06-21 13:45] Yatekii commented on #703
Some hint maybe: I think other toolkits automatically set debug flags on the core which enable debugging on wfe/wfi. This would be part of the upcoming sequences as it is different for each chip.
I believe having a look in the pyOCD source for the nRF51 might help :)

[2021-06-21 17:26] noppej commented on #703
@huntc ... I was secretly hoping that I'd be able to reproduce this on my STM32H7 chip, but your very simple main.rs debugs(and halts on breakpoint) just fine on my chip, so I will need you to test something for me please.

My theory is that one of two things are happening ...
1) Your board is not halting on the breakpoint. If that is the case, then I think we can easily test if the upcoming 'sequ

[2021-06-21 19:36] #684 closed

[2021-06-21 21:07] noppej commented on #702
The current debugger.rs and debug_adapter.rs code will use the user requested core (command line or DAP Client configuration option via launch.json). At the time of implementing this, there was no multi core, so we could not test this. I agree that after merging (or maybe just before) we should do some multi-core testing with the debugger. I have a dual-core STM32H7 board available so I am happy t

[2021-06-22 01:16] huntc commented on #703
Here's the breakpoint that I set:

![image](https://user-images.githubusercontent.com/694893/122847205-a4271f00-d34a-11eb-92f0-8e7e197aebde.png)

When I execute via the debugger and then subsequently pause, the stacktrace is as expected i.e. the device is within `wfe`:

![image](https://user-images.githubusercontent.com/694893/122847314-cae55580-d34a-11eb-91e5-9d0f9910b2e2.png)

These micro:bit de

[2021-06-22 14:44] noppej commented on #703
Hi @huntc ... from your call stack, the breakpoint is definitely not being hit. It might be that it doesn't get set appropriately.  I will ping you on matrix so we can do a remote working session. I suspect debugging it that way will be faster than sending around hardware.

[2021-06-23 09:18] noppej opened #710 "Allow `smoke-tester` to be run without a custom configuration file"
This may just be a documentation shortcoming, but it appears as if the [smoke-tester](https://github.com/probe-rs/probe-rs/pull/690) always requires a configuration file to specify the hardware against which to test.

As a contributor to this repository, I would like to be able to run the smoke tests against my currently connected probe, without having to pollute the repo with custom config files.

[2021-06-23 18:53] Yatekii commented on #710
The idea is that you put all the config into a directory that is not tracked by git, so you do not have to put all the config flags every time you run the smoke tester :)
The idea is that you can run these on many boards, not just one. So it's not very sensible to add flags for this.

Maybe we could add flags nonetheless, if you just wanna test for one board :)

[2021-06-23 18:53] #704 closed

[2021-06-23 19:04] Tiwalun commented on #710
*dut* stands for *Device under test*.

There are already flags for chip and probe-selection, for the flash binary there is no flag yet.

[2021-06-23 21:52] noppej commented on #710
That helps ... it wasn't clear to me from the docs, but I can definitely work with that. Thanks.

[2021-06-23 21:52] #710 closed

[2021-06-23 22:11] noppej commented on #703
Update: After a remote session with @huntc, I confirmed the following:
- The breakpoint is being set correctly.
- The chip halts on the breakpoint.
- The debugger does not correctly detect the change in status from 'running' to 'halted'.

Workaround: In VSCode, click on the 'Pause' (F6) button. The debugger will show that the code is halted on the breakpoint.

Note: Further investigation is needed

[2021-06-26 22:03] dkhayes117 opened #715 "Unable to Cargo Flash to HiFive1 RevB"
Cargo Flash on a HiFive1 Rev B fails with
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cargo flash --protocol jtag --chip fe310-g002

**Debug Logs**
RUST_LOG=debug cargo flash --protocol jtag --chip fe310-g002 --example leds_blink
[code]

[2021-06-28 06:47] bjoernQ opened #717 "Accessing memory on BL602 RISCV Chip via FTDI/JTAG is very slow"
**Describe the bug**
I'm trying to access memory on a BL602 RISCV chip via Sipeed JTAG adapter (https://www.seeedstudio.com/Sipeed-USB-JTAG-TTL-RISC-V-Debugger-p-2910.html)

It generally works fine but e.g. dumping memory via CLI is very slow compared to OpenOCD (same for writing memory programmatically)

**To Reproduce**
Steps to reproduce the behavior:

1. in CLI folder `cargo run --features ftd

[2021-06-28 22:16] Tiwalun commented on #717
The RISCV / JTAG code is not really optimized yet, so we should certainly be able to improve our speed here.

From experience with the ARM chips, there are two main areas where we can probably improbe:

- Currently, the code for the FTDI uses one USB transfer to read / write a single JTAG register. USB transfers have quite a big latency, so one way to improve performance is to perfom multiple read

[2021-06-28 22:38] noppej commented on #703
**Update**: After another remote session with @huntc I can now reproduce this on my own hardware, so that will help a lot with resolution. The 'trick' was that the problem only happens when VSCode is using a 'launch' configuration, but does not happen when using an 'attach' configuration against a running debug instance of the `probe-rs-debugger`.  That surprised me, but I will build in additional

[2021-06-29 07:14] bjoernQ commented on #717
Thanks for the detailed explanation.

My guess is that reducing the number of USB transfers might be the best bet to speed things up.

A brief look into the RISCV TAP spec makes me wonder a bit how such a bulk transfer can be done. An additional look into the OpenOCD code increased my confusion.

However, I will definitely look into this - not really confident if I can get this done but I'll try

[2021-06-29 07:36] Tiwalun commented on #717
If you look at the `dmi` register description, in appendix A.2 of the RISCV debug spec, you can see that batching is mentioned there.

The basic idea is that you write this register multiple times, and then you can check afterwards if an error occured. The `op` field of the `dmi` register is sticky, so as soon as an error occurs it will always return an error until you clear it.

If we want to wri

[2021-06-30 07:30] bjoernQ commented on #717
Thanks again! Since it seems I have to dive a bit deeper into the topic I started by extracting the relevant code into an own test application so I can make some experiments and get an idea how to speed things up.

Once I'm successful with that I will look into the actual code to see how I can integrate it into the probe-rs code base.

Probably at that point I will come back with additional questi

[2021-06-30 20:30] noppej commented on #703
**Update**: I have identified the root cause. The debugger fails to correctly set the hardware breakpoint while the target is in sleeping. The cortex-m architecture requires the debugger to update the DHCSR register's C_HALT value to '1' before it attempts certain core operations during sleep mode. I will make the appropriate updates and after my testing, will send you a branch to test against, bu

[2021-07-01 00:07] Yatekii opened #718 "Add a better API for matching cores against memories."
Currently one can get all the memories (`memory_map`) from the `Target`. The problem is that not all memories were made equal and not all cores can access all memories. We can match them against each other by name but this is tedious and error prone.

I'd suggest an API where one can get all memories from the `Target` but add methods to the `Core` struct which return all the memories this core can

[2021-07-05 07:01] tmplt opened #1367 "Chip field in manifest metadata unused when building flash loader"
I'm refactoring some common functionality from `cargo-flash` into `probe-rs-cli-util` and noticed that the `package.metadata.chip` from the firmware manifest is only written to `METADATA` if found. When building the flash loader, only `--chip` is used.

Below displays the full scope-usage of `chip`:

https://github.com/probe-rs/cargo-flash/blob/0615fd5519c80cd1a7379745230798765978f1fa/src/main.rs#

[2021-07-06 11:07] adamgreig opened #726 "#722 breaks cargo-embed build"
Adding [this](https://github.com/probe-rs/probe-rs/pull/722/files#diff-6b57c8453faa5b17e058c15bba60084ab16e367369417917ca314b9f59c28c1aR620) new non-`pub` field has broken the cargo-embed build, since it directly constructs a `DebugProbeSelector` [here](https://github.com/probe-rs/cargo-embed/blob/master/src/main.rs#L233-L237) based on a VID/PID in the config file.

However, even if we make this f

[2021-07-06 11:07] adamgreig commented on #726
cc @Tiwalun

[2021-07-06 11:20] tmplt opened #727 "Refactor: exploit cortex-m structs instead of rolling own?"
The ITM implementation of probe-rs is similar to https://github.com/rust-embedded/cortex-m/pull/342, but it would be a good idea if we can exploit the existing logic and API of the cortex-m structs. I haven't looked deep into it yet, but we need to be able to create these registerblock structs from a `u32`, oppertunely modify it, and then convert it into a `u32` for writing.

[2021-07-06 13:58] noppej commented on #703
@huntc Are you able to test something for me?   If you install from this branch with

`cargo install --force --git https://github.com/probe-rs/probe-rs --branch debug_during_wfe_wfi probe-rs-debugger`

then run it in server mode with `probe-rs-debugger debug --dap --port=50001` and `attach` to it from VSCode.

With my test case I get consistent results in this mode, but when I switch to VSCode `la

[2021-07-06 14:32] luksan commented on #682
Hi,

I have spent a few days looking at this, and while the ICDI interface supports debugging and flashing firmware it maps poorly to a JTAG interface. Thus, it is very hard to implement support in probe-rs for it since the DapAccess and SwoAccess traits cant be implemented.

The best reference to the interface is the openocd source code, look at the hla driver and ti_icdi_usb.c.

[2021-07-06 15:19] Yatekii commented on #682
It looks quite similar to the ST-Link interface.

Sadly the `ti_icdi_usb.c` is very badly documented, but from what I can judge, we can take the same approach as with the ST-Link. It wont be able to do sequences, but it should be possible with medium effort :)

Check: https://github.com/probe-rs/probe-rs/blob/master/probe-rs/src/probe/stlink/mod.rs

[2021-07-06 22:23] luksan commented on #682
I have spent quite some time looking at the st driver, trying to map the ICDI to it. The biggest issue is that there is no way to read AP and DP registers, so the ArmProbeInterface can't be implemented as I understand it. I have made some notes about the avaliable ICDI commands at https://github.com/luksan/lm4flash-rs/wiki

[2021-07-06 22:41] huntc commented on #703
Success! Nice work.

![image](https://user-images.githubusercontent.com/694893/124674988-1c6f1200-deff-11eb-84e9-9d9d65c37c9d.png)

[2021-07-07 13:23] Yatekii commented on #682
Yeah, indeed, that's troublesome :/

I think we would have to make a special case for this. The general Probe would work, but not the Core API.
We are currently in the process of simplifying a lot of things internally. Maybe this will be easier afterwards. Or harder :P

[2021-07-09 13:15] luksan commented on #682
Actually, it seems that the ICDI probe implements (a subset) of the GDB remote server protocol.
https://sourceware.org/gdb/onlinedocs/gdb/Remote-Protocol.html#Remote-Protocol

Perhaps a way forward would be to add GdbServer as a new type of ArchitectureInterface in session.rs. Then probe-rs could be used with any target that acts like a GDB remote debug server, including openocd I guess.

I could

[2021-07-09 16:06] Yatekii commented on #682
I don't think this is a good idea :/

The sole purpose of probe-rs is to provide a stable, single, well integrated, nicely API'd solution to talk to any probe or chip in the same fashion. Adding GDB to the mix does not mesh well with that. In fact, one of the main purposes is getting rid of GDB.

Why not add an ArchitectureInterface for ICDI instead? I am not sure this is the right solution, but G

[2021-07-09 17:35] luksan commented on #682
It's not gdb, just the protocol that gdb uses to communicate with remote debug servers. An architecture interface for ICDI would be an interface to a gdb remote debug target, so I'm saying that an interface that supports ICDI could be made more generic so it could be used with other devices that implement the protocol. See for example the gdbstub crate.

ICDI is a debug probe found on embedded ARM

[2021-07-09 17:39] adamgreig commented on #682
Feelings about even just GDB's protocol aside, I guess this could then also support the [blackmagic](https://github.com/blacksphere/blackmagic) probe which similarly uses the GDB protocol, over USB serial.

[2021-07-09 18:10] luksan commented on #682
@adamgreig I guess so. Interestingly, according to https://github.com/blacksphere/blackmagic/wiki the Blackmagic firmware can be flashed to the Stellaris ICDI, turning it into a Blackmagic probe.

[2021-07-10 09:09] bjoernQ commented on #717
Here is an update: I'm still on it and it's still more work to do until I can create a PR but batching seems the way to go!

Current _master_: Read 1000 words in 6.6491235s
My fork with batching: Read 1000 words in 252.6971ms

[2021-07-12 18:57] #681 closed

[2021-07-13 13:44] dkhayes117 commented on #715
This issue is addressed with Pull Request #732.

[2021-07-13 13:44] #715 closed

[2021-07-15 06:22] Dirbaio opened #741 "Misleading errors when multiple flash algos match"
When multiple flash algos match a given NvmRegion, and none is marked as default, the error is somewhat misleading: `Trying to write flash, but no suitable flash loader algorithm is linked to the given target information`.

Somewhat related, if there is multiple marked as default, it silently uses the first one. This should probably be an error.

Relevant code: https://github.com/probe-rs/probe-rs

[2021-07-20 06:06] #717 closed

[2021-07-24 17:51] luksan commented on #682
I created pull request #746 with support for the ICDI probe. I have tested that upload/download and `cli info` works with an LM4F120 eval board.

[2021-07-25 05:40] #741 closed

[2021-07-29 17:48] noppej commented on #703
Re-opening, as the current fix for #724  only solves the problem when using VSCode's `attach` mode. The fix for `launch` mode will be done in a separate PR for the probe-rs/vscode repo.

[2021-07-29 18:32] tmplt opened #756 "Bump bitvec to 0.22"
The problem I'm trying to solve is that when building https://github.com/rtic-scope/cargo-rtic-scope/tree/bitvec-build-fail, bitvec 0.19 fails to build for some reason I do not understand. This seems to be because `cargo-rtic-scope` depends on a `itm-decode 0.4` alpha which depends on `bitvec 0.22`.

At the moment I need to maintain a fork of `probe-rs` that bumps its `bitvec` dep to 0.22, but thi

[2021-07-29 18:36] tmplt commented on #756
The issue can be replicated in `probe-rs` by bumping `itm-decode` to `0.4.0-alpha`. [A fix is to pin `funty = "=1.1.0`](https://github.com/bitvecto-rs/bitvec/issues/105) but this then breaks dependency resolution: `probe-rs` requires `funty v1.1.0` and `itm-decode` requires `~1.2` (currently `1.2.0`).

`itm-decode` will reach a `0.4` release eventually, so we'll have to deal with this eventually a

[2021-07-29 18:53] Tiwalun commented on #756
ftdi should not be an issue, we just have to update probe-rs to use the newer bitvec api. The bigger problem is the `gdb-server`:

[code]

[2021-07-29 18:54] Tiwalun commented on #756
`cargo tree` is very helpful if you need to find out why a package is used: `cargo tree -p bitvec:0.19.4 -i` will produce the output above.

[2021-07-29 19:30] Tiwalun commented on #756
Using version `7.0.0-alpha1` of nom should fix this, see https://github.com/Geal/nom/issues/1330#issuecomment-867706743.

[2021-07-29 20:16] #756 closed

[2021-08-01 19:56] newAM opened #761 "HardFault when flashing binaries to the STM32WL55 larger than 64k"
**Preface**
I have a fix, but I will not have time to submit a PR until later this week.  I wanted to open the issue first to notify anyone else facing this same problem.

**Describe the bug**
Upon flashing a binary larger than 64K to the STM32WL55 (the flash size is 256k) the target will get a hard fault.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect a NUCLEO-WL55JC2 to your PC
2.

[2021-08-02 18:27] #761 closed

[2021-08-11 07:59] ildar opened #1383 "[FR] (more) command line options"
**Is your feature request related to a problem? Please describe.**
Currently cargo-embed's behavior is controlled by a config file. I'd like to override with command line options.

**Additional context**
E.g. flashing is not required if a user wants just a RTT terminal.

[2021-08-20 22:17] Dirbaio commented on #617
Solved by #720

[2021-08-20 22:17] #617 closed

[2021-08-20 22:21] Dirbaio commented on #655
Fixed in #619

[2021-08-20 22:21] #655 closed

[2021-08-20 22:24] Dirbaio commented on #470
@macthestack could you confirm whether this is still an issue? there's been quite a bit of jlink fixes, and some nrf91-specific fixes in #619 too.

[2021-08-20 22:26] Dirbaio commented on #490
This is working as intended: nRF chips don't do stuff while nRST is asserted, they're not capable of any SWD communication at all. It seems `connect-under-reset` is quite ST-specific.

[2021-08-20 22:26] #490 closed

[2021-08-20 22:40] Yatekii commented on #490
'connect-under-reset' is generally required for chips that support remapping reset and swd pins. its also present on the atsam devices. Just to clarify this. But I agree that this works as intended and can be closed.

[2021-08-21 00:07] Yatekii commented on #555
I will consider this closed as this was on a very old version of probe-rs. Please reopen if it still persists.

[2021-08-21 00:07] #555 closed

[2021-08-21 07:09] macthestack commented on #470
It works. Thanks guys!

[2021-08-21 07:09] #470 closed

[2021-08-21 11:21] Geal commented on #756
you can now upgrade to nom 7, which was just released, and moves bitve input types to the nom-bitvec crate

[2021-08-21 12:14] Yatekii commented on #756
Thanks for the headsup and all the hard work!

[2021-08-21 15:42] 80avin commented on #373
Hi @Tiwalun
This doesn't work.

I am connecting ST-Link v2 to EFR32BG22C224F512 chip via SWD and getting this error in every command.

[2021-08-21 15:46] Yatekii commented on #373
Hi @80avin

Unfortunately the `EFR32BG22C224F512` is on a whole other level of brokenness. This is actually a different issue (could you open one please?) because this one is with a STM32 which is well supported but requires this flag sometimes.
`EFR32BG22C224F512` is actually just broken :/

[2021-08-24 15:39] MabezDev opened #781 "Fail to connect to RISCV core over jlink"
**Describe the bug**
I am working on a [probe-rs flash loader](https://github.com/MabezDev/esp-flash-loader) for the [esp32c3](https://www.espressif.com/en/products/socs/esp32-c3), however I haven't got as far as testing because probe-rs is failing to connect to the chip.

**To Reproduce**
Steps to reproduce the behavior:
1. Wire up JLINK to esp32c3
2. Run `cargo flash --connect-under-reset --chip

[2021-08-24 22:36] Yatekii commented on #781
Yes, I think this is expected.

RISC-V has several ways of accessing memory etc. We have only implemented the ones for specific chips we already have :)
Someone has to implement this.

[2021-08-24 23:45] MabezDev commented on #781
Thanks @Yatekii, I'd be interested in taking a look and implementing the missing features. However, I am new to the probe-rs project, do you have any pointers on how you would go about solving this?

[2021-08-25 08:34] Tiwalun opened #782 "Unable to specify chip using `cortex-m4` anymore."
With the current master it is not possible to specify `--chip cortex-m4` anymore, due to #777.

I think for users it should be possible to specify the chip directly, instead of having to figure what the corresponding architecture is.
It would be nice to have some kind of alias, so that at least on the command line we can specify a chip directly.

[2021-08-25 09:18] Tiwalun commented on #781
It already fails earlier, to access the debug module memory access is not required yet. This only comes into play later.

The JTAG IDCODE should not be zeroes, so my suspicion would be that something in the JTAG access is not working correctly.
It could be that there are multiple JTAG TAPs, and it fails to find the correct one.

If you have an FTDI based debugger, it would be great to check it wor

[2021-08-25 09:52] Yatekii commented on #781
Ok, pardon my ignorance then :/ I should have consulted @Tiwalun first :)

[2021-08-25 11:02] MabezDev commented on #781
Unfortunately I don't have an FTDI adapter around right now - is the feature for searching for taps missing in probe-rs or jaylink?

If I have the tap id (`0x00005c25`) can I forcefully choose that one some how?

[2021-08-25 11:10] Tiwalun commented on #781
It's missing in probe-rs, there is only a very basic interface provided by jaylink / J-Link.

For the FTDI, there is a scan function which tries to find the correct TAP: https://github.com/probe-rs/probe-rs/blob/e8b6af46daeae2b84a70481a43f879f2a99c360d/probe-rs/src/probe/ftdi/mod.rs#L246

This is missing for the J-Link, so there is no way of selecting a TAP right now.

[2021-08-25 13:39] MabezDev commented on #781
Thanks for the tip @Tiwalun, I started implementing the scan feature (it copy and pasted pretty easily across) and found that there is only one tap device on the esp32c3. However, in my step debugging, I found it would correctly read the idcode when stepping through the code.

I added a 100ms delay between the `jtag_io` to reset the jtag chain & `let idcode_bytes = self.read_dr(32)?;` and it seems

[2021-08-27 21:48] Yatekii opened #788 "Improve debugger behaviour when target breaks on an instruction for which no source code is available"
**Describe the bug**
When the debugger stops in a compiler builtin, the debugger tries to access the wrong location for the source file.

[code]

**Desktop (please complete the following information):**
 - Linux (Ubuntu, Gentoo, Debian, Fedora, etc.)

[2021-08-28 14:19] MabezDev opened #790 "Operation Status = Some(RequestInProgress)"
**Describe the bug**
Trying to using cargo flash with the current probe-rs master not longer works with a jlink and esp32c3, v0.11.0 works fine.

**Stacktrace**
[code]

**Additional context**
I think this was introduced in https://github.com/probe-rs/probe-rs/pull/735, specifically this error comes from  https://github.com/probe-rs/probe-rs/blob/bbe3bfc4604a7529f6ff3f7a6cf9b1b02cd6cb4f/probe-rs/sr

[2021-08-28 16:08] bjoernQ commented on #790
Which adapter are you using? Asking because a user reported that it worked fine with the Sipeed JTAG adapter (which I also use, the older one - not the BL702 based) but not with the Pine64 (I ordered one but it's still on its way - hope to get it soon)  (see https://github.com/bjoernQ/blash/issues/1#issuecomment-900601199 )

The reported problem looks different but it is maybe adapter dependent.

[2021-08-28 16:52] MabezDev commented on #790
I am using a J-LINK debug probe. A quick skim of that issue you linked this problem doesn't seem related.

[2021-08-28 17:06] bjoernQ commented on #790
Ah sorry Jlink - not Ftdi ... Then I'm not too sure it's caused by #735

[2021-08-28 17:13] MabezDev commented on #790
Are you sure? The changed files in #735 modify `probe-rs/src/probe/jlink/mod.rs` and others?

[2021-08-28 17:41] bjoernQ commented on #790
Yes it's a big PR but I really hoped to not break Jlink since I don't have a Jlink adapter to verify it. I hope I mentioned that in the PR

So I can not be sure it's not caused by #735 - just hoping it

[2021-08-28 22:02] MabezDev commented on #790
Hi @bjoernQ, I just spent a bit of time `git bisect`ing and have narrowed it down to exactly this commit:  37714e898412652082b88f792f7ef6e24451a20f.

Looks like that was included in your PR - any idea why the Jlink changes would break? Any ideas you'd like me to test?

[2021-08-29 09:11] bjoernQ commented on #790
I guess I see the problem:
https://github.com/probe-rs/probe-rs/blob/bbe3bfc4604a7529f6ff3f7a6cf9b1b02cd6cb4f/probe-rs/src/architecture/riscv/dtm.rs#L112-L117

returns an `Err`, while the non-batch implementation:

https://github.com/probe-rs/probe-rs/blob/bbe3bfc4604a7529f6ff3f7a6cf9b1b02cd6cb4f/probe-rs/src/architecture/riscv/dtm.rs#L153-L155

returns an `Ok` wrapping an `Err`

So, I guess it's

[2021-08-29 14:32] bjoernQ commented on #790
Still trying to get the ESP32C3 JTAG working - burnt DIS_USB_JTAG e-fuse but JTAG doesn't seem to work
Also just ordered a JLINK adapter

Anything else needed to get ESP32C3 to enable JTAG?

[2021-08-29 14:45] MabezDev commented on #790
Hmm, that _should_ work, is the wiring is correct?

FYI you can set the `JTAG_SEL_ENABLE` efuse, then use GPIO10 as a strapping pin (Pulling low for external jtag, high for usb jtag), if you don't want to permanently disable the usb jtag.

We're working on improving the docs for this.

[2021-08-29 16:04] bjoernQ commented on #790
I have the AI Thinker ESP-C3-32S-Kit and connected the JTAG adapter like this

IO4 -> TMS
IO5 -> TDI
IO6 -> TCK
IO7 -> TDO
GND -> GND

with DIS_USB_JTAG burnt there is nothing else needed, right?

[2021-08-29 17:05] bjoernQ commented on #790
ok JTAG seems to be activated on the chip - just probe-rs master doesn't work for FTDI for me currently

[2021-08-30 11:38] jamesmunns commented on #300
Just as a note (I'll mention it on the other issue), but it is also (at least sometimes) possible to fix this using `cargo flash`'s `--connect-under-reset` option.

[2021-08-30 11:40] jamesmunns commented on #350
Mentioning in case people find this issue elsewhere (before it is totally fixed):

We were able to "rescue" an STM32F303 that had the offending `wfi` idle using `cargo-flash` directly, using something like this (after changing the `wfi` to a `nop`:

[code]

[2021-08-30 12:35] David-OConnor commented on #350
To add to that: I've always been able to resolve this issue (stm32 L4, WB, F3, and H7) by resetting/powering up with boot0 high, then erasing using Stm32cube Programmer.

[2021-08-30 13:12] mvirkkunen commented on #350
Using Boot0 to get to a safe state should work with any debugger and software, since it doesn't even run the application code with a wfi in it. The built-in STMicro bootloaders don't seem to use wfi. It can even be used to recover a chip where you (accidentally or not) disabled SWD in software.

[2021-08-30 13:59] noppej commented on #788
The debugger and debug api resolves paths by testing with `Path::is_absolute()`. In the case of any of the `compiler_builtins` paths, these are stored by the compiler as absolute paths (with `/cargo/registry/src` as a root) in the debug info. I've checked my system, and these paths do not exist, not even if I assume a different root of `~/.cargo/registry/src` (default for cargo to install stuff).

[2021-08-30 16:35] mcbridejc opened #792 "Add ATSAMG targets"
I'd like to support the SAMG55J19 for my project, so would love to see the microchip/atmel SAMG pack pulled into probe-rs.

I attempted to create a pull request using target-gen, but I ran into an issue about a missing 'cores' field in the yaml description. If I've understood correctly from reading commit logs and issues, it appears there's some work ongoing to support multiple cores, and this inv

[2021-08-30 16:58] Dirbaio commented on #792
Yes, that's unfortunately correct!  :(

It should be easy to manually fix up the YAML to work, if the chip is singlecore.

1. add `cores` with a single core named "main", like this:

https://github.com/probe-rs/probe-rs/blob/bbe3bfc4604a7529f6ff3f7a6cf9b1b02cd6cb4f/probe-rs/targets/SAMD51.yaml#L6-L12

2. Add `cores: [main]` to all memory map regions

https://github.com/probe-rs/probe-rs/blob/bbe3b

[2021-08-30 17:05] MabezDev commented on #790
I hope you managed to sort the FTDI issues!

In the mean time I've been thinking about the core issue - `DmiOperationStatus::RequestInProgress` is a "soft error" that can be recovered from. The problem is that by the time the probe is `execute()`ing the batch of commands, its not possible to recover from this error and these are processed at probe level, not the dtm level.

Should the batching be

[2021-08-30 18:26] bjoernQ commented on #790
Seems that the FTDI problem is just a problem of the CLI and Debugger which I use to quickly test things. Need to look into that and create an issue for that (if it's really just a problem there)

Yes `DmiOperationStatus::RequestInProgress` triggered a re-try before so it's really a problem introduced with my PR unfortunately.

An easy / quick solution would be to define an error like `RetrySugges

[2021-08-30 18:45] noppej opened #793 "Regression: "connect-under-reset" no longer works for STLINK"
**Describe the bug**
When using "connect-under-reset" on an STLINK device, [this code](https://github.com/probe-rs/probe-rs/blob/bbe3bfc4604a7529f6ff3f7a6cf9b1b02cd6cb4f/probe-rs/src/session.rs#L180) will cause an unrecoverable *"ERROR: Some functionality was not implemented yet: ST-Links do not support raw SWD access."*

This used to work prior to [#483](custom sequences)

[2021-08-30 19:14] Yatekii commented on #793
Yeah this is my mistake. @Tiwalun warned me and I forgot to test that it still works like a pro ... ofc. Maybe @Tiwalun or @Dirbaio has an idea how to get around this off the top of their head. Anyways, I'll have a look in the coming days :)

[2021-08-30 20:07] bjoernQ commented on #790
You are certainly right and retries are not that easy

The RV Debug Spec contains some hints:

_The still-in-progress status is sticky to accommodate debuggers that batch together a number of
scans, which must all be executed or stop as soon as there’s a problem.
For instance a series of scans may write a Debug Program and execute it. If one of the writes
fails but the execution continues, then th

[2021-08-31 16:53] bjoernQ commented on #790
So the FTDI problem I mentioned got already fixed but now trying to connect to the ESP32C3 doesn't work (with FTDI):

I see this in the logs
[code]

I'm a bit confused why it reports two TAPs with same IDcode

[2021-08-31 17:20] Tiwalun commented on #790
The FTDI problem happens because the detected `irlen` is wrong, it should detect a length of 5.

This is from another tool:

[code]

But I think this is a separate issue, not related to the operation status.

[2021-08-31 17:35] Tiwalun opened #796 "probe-rs is unable to detect correct IR length for ESP32-C3, when using a FTDI based probe"
Current master of probe-rs fails to properly detect the IR length for the ESP32-C3, when an FTDI based probe is used.

The TAP is detected correctly, but it detects an IR length of 2. The correct IR length would be 5, as detected by other tools.

@Disasm I'm struggling to understand how the IR length is detected in the FTDI code, could you explain how the code in the `scan` function is supposed to

[2021-08-31 18:45] bjoernQ commented on #790
Thanks! When I hardcode the `irlen` it gets a bit further and times out in `execute_abstract_command`  after executing some commands without timeout - no idea why that apparently works better using Jlink

[2021-08-31 19:35] bjoernQ commented on #790
That happens in `get_available_breakpoint_units` ... if I just return `Ok(0)` for testing I can actually (apparently) dump memory - quite fast and without the `RequestInProgress` problem

[2021-09-01 11:33] Urhengulas opened #797 "Publicly expose `enum StlinkError`"
**Is your feature request related to a problem? Please describe.**
In `probe-run` we are not able to cleanly handle a `StlinkError::CommandFailed(JtagNoDeviceConnected)`, because the `enum StlinkError` isn't publicly exposed.

https://github.com/probe-rs/probe-rs/blob/b7e7cfd667a0a85fe012017f3cf865038001970e/probe-rs/src/probe/stlink/mod.rs#L1109-L1131

**Describe alternatives you've considered**

[2021-09-01 12:05] Tiwalun commented on #797
Exposing this shouldn't be a problem.

Maybe it might be better to add a more generic error for this case? This error indicates that no device seems to be connected, which can also occur with other probes. I'm not sure what kind of error is returned for other probes right now.

Do you need to handle the ST-Link differently, or would a more generic error for this kind of problem also be suitable?

[2021-09-01 13:13] Urhengulas commented on #797
Great! 😄

A more generic error would probably be even better to be able to handle more probes.

Is there a way to get the specific probe from the `probe_rs::Probe`, in case we want to differentiate?

[2021-09-01 17:22] bjoernQ commented on #790
So, my Jlink arrived and after soldering a suitable cable (guess it won't last long) I can reproduce the problem with the `debugger` tool (`cargo run -- dump 3ff00000 10 --chip riscv --protocol jtag`) while it works with my oddly patched FTDI version.

Quite interesting ....
I can make it work by making https://github.com/probe-rs/probe-rs/blob/f8c1df1cfbe3d4b3fb0bac767cb7c54daff968e0/probe-rs/src

[2021-09-01 17:33] bjoernQ commented on #790
BTW that optimization I removed to make it work for me seems actually counterproductive.

_0.11.0_ without changes:  Read 1000 words in 2.4009798s
_master_ with my change (the removed `if`): Read 1000 words in 1.2770868s

So maybe not that much of a problem to remove it? (All number by using ESP32C3)

[2021-09-01 21:41] MabezDev commented on #790
I can make it work by making

Interestingly I can reproduce that here. By unconditionally calling `write_ir` it seems to work.

However I do not see the performance gains, in fact I see a regression of program speed (writing to flash) in the order of 10 seconds.

I just use some dupont cables hooked up from the jlink 20pin directly to the esp32c3 pins.

[2021-09-01 22:12] MabezDev opened #798 "Error occured during execution of an abstract command: HaltResume"
**Describe the bug**
Occasionally programming will be interrupted by the error in the title.

**To Reproduce**
Steps to reproduce the behavior:
1. Repeatedly flash until the error is hit.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Stacktrace**
[code]

**Additional context**
Tested on a jlink & an esp32c3.

~~I looked at how [openocd handles it](https:

[2021-09-02 04:36] Tiwalun commented on #798
The implementation in probe-rs is based on the [RISCV Debug Spec], and from my understanding the `HaltResume` error can happen when you try to execute an abstract command, but the state of the hart is incorrect.

I think probe-rs should ensure the hart is in the correct state before executing an abstract command, so this error shouldn't happen at all. Do you know which abstract command causes this

[2021-09-02 06:54] bjoernQ commented on #790
Just to double check: that is comparing _0.11.0_ vs _master_ including the change, right? Interesting the results differ so much. My figures suggested me that the penalty of always doing `write_ir` outweighs the penalty of repeating the command - but even if it's the case it might be MCU dependent

[2021-09-02 08:33] MabezDev commented on #790
Yes that was comparing v0.11 and master.

Do you get the same results when you write 1000 words to memory, instead of reading?

[2021-09-02 11:15] tdaede opened #799 "Cannot write STM32F7 flash when elf maps it to ITCM"
**Describe the bug**
STM32F7 has the Flash exposed twice, once on the ITCM bus and once on  the AXI bus. If the linker script specifies the ITCM Flash region, probe-run will fail. This is different than the behavior with e.g. the Black Magic Probe which knows what to do. It can technically probably be worked around with a linker script with load and run addresses, though I haven't tried that yet.

[2021-09-02 14:45] Dirbaio opened #801 "Speed estimation of CLI progress bars seems wrong"
[code]

The first bar takes 3s, and the speed estimate says `45.02KiB/s`. The second takes 1s, so it's *faster*, but the speed estimate is `25.14KiB/s` which is slower...

[2021-09-02 17:07] bjoernQ commented on #790
I can confirm the performance regression by a factor of 1.5 / 1.6 unfortunately

[2021-09-03 17:30] bjoernQ commented on #790
If you like you can try my attempt to fix this: https://github.com/bjoernQ/probe-rs/tree/fix_esp32c3_memory_access

It looks quite encouraging to me:

`cargo run --example ram_download -- --address 0x40380000 --size 4000 --chip riscv --protocol jtag`

_0.11.0_
[code]

_master plus my fixes_
[code]

But I only tested Jlink + ESP32C3 ... need to also test with BL602 and also check it doesn't break F

[2021-09-03 21:05] MabezDev commented on #790
Thanks @bjoernQ!

I tried out your branch whilst it does seem to work, I don't see your gains; at least for flashing.

v0.11.0:

[code]

master + your changes:

[code]

Looking at the changes though, they do seem like reasonable optmisations so I'm not sure why I'm seeing such poor performance.

[2021-09-03 21:15] Yatekii commented on #790
Flashing speed seems to be defined by something else. Is the algorithm that bad (no offense) or is the flash really that slow (can't imagine)?
I guess it has to be one of those two because general data transfers seem to be faster (Even tho those seem to be terribly slow as well!).

[2021-09-04 00:40] MabezDev commented on #790
None taken! The algorithm is definitely slow, I'm just getting stuff working atm; however I'm suprised to see reduced performance of the algo with these changes. Maybe I messed something up applying the patch, I'll try again tomorrow.

Regardless of performance, this only seems to patch the symptoms, not the root cause. Currently in batched mode, there is now way to recover from a Dtm busy error,

[2021-09-04 13:59] bjoernQ commented on #790
@MabezDev  any insights what causes the totally different experience on your side? Maybe you can run the ram_download example to see if you have similar bad figures there?

I'd really like to PR this since after that I can try to improve the FTDI implementation based on this. But if it makes things worse for someone certainly not.

I also think it's independent from your PR since yours is more an

[2021-09-04 14:37] MabezDev commented on #790
I haven't figured out whats going on wrt flashing, but I do see your gains running the ram example!

I agree, I think your should PR your changes. I don't think its worth blocking on just one experimental target.

[2021-09-05 09:53] bjoernQ commented on #790
Thanks for testing. I did some more tests on my side and unfortunately it degrades performance for BL602/Jlink slightly. So, I won't create a PR for that.

Your PR seems to be the way to go

[2021-09-07 14:45] MabezDev commented on #798
It seems to be erroring on a `AccessRegisterCommand`, I managed to capture a (crappy, sorry! anyhow backtrace wasn't working for me) backtrace:

[code]

[2021-09-10 15:26] #790 closed

[2021-09-14 20:41] Yatekii opened #824 "Remove this loop: https://github.com/probe-rs/probe-rs/blob/master/probe-rs/src/flashing/flash_algorithm.rs#L213"
We can simplify the code there a lot and add docs how the stack buildup looks!

Thoughts:
[code]

[2021-09-15 20:58] noppej commented on #788
@Dirbaio and @Tiwalun ... any suggestions that can help me on the right path with this issue?

[2021-09-16 06:34] Tiwalun commented on #788
I don't think you can find the source code for this locally, since it's built into the compiler.

For the standard library you can find it locally, by finding the sysroot:

    rustc --print sysroot

And then the standard library can be found in the `lib\rustlib\src\rust\library\std\src` subfolder, assuming that the `rust-src` component is installed.

[2021-09-16 14:34] noppej commented on #788
@Tiwalun thank you.  I'm going to declare this an enhancement with the following description...

If the debugger stops at an instruction for which no source code is available, avoid an error message by trying the following in sequence:

1) If the instruction references a compiler built-in, resolve the systoot and if the rust-src component is installed, attempt to map to the referenced source code.

[2021-09-16 15:10] Yatekii commented on #788
1. and 2. sound sensible to me :) 3. Is something I'd like to avoid :)

[2021-09-17 06:26] Tiwalun commented on #788
I think 3. would be very confusing, and different from the usual behaviour of debuggers, I agree with Yatekii that 1. and 2. sound sensible.

[2021-09-17 12:49] noppej commented on #788
Totally agree. Thanks both for your feedback.

[2021-09-21 16:12] MabezDev commented on #798
So I actually thing this is related to #826, I think in some cases it was taking _so_ long to load the program data I would run into this error. I haven't seen this error once since #826, trying multiple page sizes. Closing.

[2021-09-21 16:12] #798 closed

[2021-09-21 22:53] MabezDev opened #827 "Implement compressed transfers"
It seems when flashing, loading data is the most time consuming process (just may experience, may not always be the case). Reducing the number of bytes we have to transfer should improve flashing speeds.

Compressing pages of data, copying to target ram, then decompressing on the target ready for writing to flash should net improved flashing performance.

A quick look on crates.io yielded this cra

[2021-09-21 22:57] Dirbaio commented on #827
On many ARM chips the bottleneck is the actual flash write speed (copying from RAM to flash), not the copy from host to target RAM, given a decent probe (ie not jlink) and decent SWD frequency.

How common is for jtag/swd to be the bottleneck? Maybe there is some low-hanging-fruit optimizing the jtag memory transfers?

[2021-09-21 23:11] MabezDev commented on #827
I should note that I'm not running into this bottleneck right now, that's for sure!

However, in the case of some Espressif chips (and other chips I image), the spi flash fitted is capable off tens of Megabytes write speed, when in quad io mode at full speed. I'm getting no where near that speed (10kb/s write) with the `ram_download` example but I am running a jlink so it could be that.

Side note

[2021-09-22 00:27] adamgreig commented on #827
I can answer this at least! It supports the `JTAG_Sequence` CMSIS-DAP command, so it can do arbitrary JTAG sequences using something like openocd, at reasonably high throughputs: my [ecpdap](https://github.com/adamgreig/ecpdap) tool writes to an FPGA over JTAG at 820KB/s, and reads attached SPI flash memory at 750KB/s, for example. The firmware doesn't yet support the JTAG commands used to debug A

[2021-09-22 10:45] MabezDev commented on #827
My bad, on further inspection although the chips I was looking at support quad writes, thats only at low clock rates only.

Thanks for the info adam! Unfortunately is seems like JTAG functionality [isn't actually supported in probe-rs](https://github.com/probe-rs/probe-rs/blob/0538e3e39961cda6d02d520dd2ca0830030ff84f/probe-rs/src/probe/cmsisdap/mod.rs#L479) just yet, I'll keep an eye out :)

Speak

[2021-09-22 11:30] Yatekii commented on #827
1.5MB/s is well enough for any flash algo. The fastest flashes I have seen are in the 100kb/s speed wise. so 15x the overhead is well enough :) But if your flash is really that fast, we can consider it :)

[2021-09-23 18:15] #796 closed

[2021-09-23 21:41] Dirbaio opened #828 "[RFC] Unify all binaries"
Currently the probe-rs project produces 6 binaries, with overlapping functionality:

- cargo-embed
  - flashing
  - RTT, with optional defmt
  - GDB server
- cargo-flash
  - flashing
- probe-rs-cli
  - flashing
  - erasing
  - debugger CLI
- probe-rs-debugger
  - flashing
  - debugger CLI
  - MS-DAP server
  - RTT, with optional defmt
- rtthost
  - RTT
- gdb-server
  - gdb server

I propose mergin

[2021-09-23 22:00] MabezDev commented on #828
I love this!

Another advantage is that its easier to spot breakages in other tools. For instance, a PR removing a 'unused' argument handling module broke `cargo flash` & `cargo embed`, a change that could have been fixed in the PR if it failed to build all the tools in CI.

I guess the only downside is for newbie Rust dev's its hard to tell what `cargo run` is doing, without prior knowledge of th

[2021-09-23 22:40] MabezDev commented on #828
Possibly not an issue, but its worth discussing the name and usage vs [`probe-run`](https://github.com/knurling-rs/probe-run). I.e the difference between the two is _very minimal_ (`s/-/ /g`) and may be confusing.

Additionally, a lot of work has been put into [`probe-run`](https://github.com/knurling-rs/probe-run), perhaps we want to absorb some of that functionality in our `run` command.

[2021-09-26 16:29] noppej commented on #828
@Dirbaio Thank you for doing such a great job on writing this up. I believe you've addressed the major issues (that I can see), and I have nothing to add.

@MabezDev makes a good point about `probe-run`, but I don't know how the [project owners](https://knurling.ferrous-systems.com/) would feel about that (plus we'd have to figure out what to do about funds from project sponsorships). Do you know

[2021-09-28 15:46] jonathanpallant commented on #828
I understand the major feature of `probe-run` to be support for decoding their `defmt` wire protocol, so that embedded MCUs can 'print' formatted strings but have the formatting done in `probe-run` on the PC instead of on the embedded device. The name of their tool is unfortunate though.

[2021-10-07 14:03] Tiwalun opened #842 "Improve error when chip name is not unique"
Since PR #815, ambiguous chip names are no longer accepted. The error message if a chip is ambiguous is not very clear, currently a `ChipNotFound` error is returned. This is confusing, because the chip exists, but the name is not unique. See e.g. #841, where this was confusing.

To help users with this problem, a separate error type should be introduced.

[2021-10-07 19:40] #842 closed, assigned to Tiwalun

[2021-10-13 23:08] noppej commented on #703
@huntc I've checked in additional fixes which tests successfully on my side (using your code and similar Micro:Bit board.

Please can you test with ...
- `cargo install --force --git https://github.com/probe-rs/probe-rs --branch debugger_fixes probe-rs-debugger`

This should allow you to test with the VSCode 'launch' configuration, and if you feel adventurous, you can add `rtt_enabled:true` also :

[2021-10-14 01:00] huntc commented on #703
Works fabulously! Thanks!

Thanks - where will the RTT output go? Not seeing it...

[2021-10-14 12:35] noppej commented on #703
@huntc Thanks. I struggled with where to route the output. I would have liked to route it to the debug console, but then if you have more than one RTT channel, it becomes a bit difficult. VSCode has an HTML view that opens a new window in the code section. If we opened windows there, rather than new Terminal windows, would that make it easier?

[2021-10-14 13:58] noppej commented on #788
Adding notes here for examples of DIE's (debug information entry) I've found where the path is hardcoded (in different ways) to files that are not present by default ...

1.
[code]
2.
[code]

[2021-10-15 14:32] MabezDev opened #851 "`Registers::from_core` assumes arm register addresses"
**Describe the bug**

`Registers::from_core` assumes arm when reading core registers.

**Expected behavior**

Instead of assuming the general registers are at address 0..16, probe-rs should use the core's arch and the register file to determine how to read the registers.

I think it's also important to consider that depending on the device, more or less registers maybe be available. For most of RI

[2021-10-18 18:17] noppej commented on #793
There is a PR #850 waiting to be reviewed. Once that is merged the `halt_after_reset` can be used with RTT again.

[2021-10-26 19:38] Yatekii opened #861 "Underflow in the debugger mechanics"
This line here can panic https://github.com/probe-rs/probe-rs/blob/master/cli/src/debugger.rs#L314.

This happend to me on a normal `probe-rs-cli debug` and then `dump` command on an STM32F401.

[2021-10-30 06:47] huntc commented on #531
I'm unsure whether I'm seeing the same thing, but here's my log:

[code]

This happens when I pause upon flashing my program. On other occasions, I'm seeing problems immediately after flashing.

[2021-11-10 18:45] Tiwalun opened #877 "Tracking Issue: Unwinding support for RISCV"
Track the progress until unwinding support for RISCV is on the same level as for ARM. Further work can be done to improve unwinding in general, this issue only tracks tasks which relate to problems where ARM specific assumptions are currently hard-coded.

## Open issues
- [x] Proper register names in debugger, currently ARM registers are hardcoded https://github.com/probe-rs/probe-rs/blob/5e5a4307

[2021-11-10 21:55] #851 closed

[2021-11-11 11:28] rnestler opened #883 "Flashing of STM32L071KBTx with J-Link broken with 0.11.0 but works with 0.10.1"
**Describe the bug**

When I try to flash my binary with `cargo embed` 0.11.0 my chip just hangs indefinitely. If I do the same with 0.10.1 it works. I also tried latest master which fails as well

**To Reproduce**
Steps to reproduce the behavior:
1. Flash with cargo embed 0.11.0
2. Broken

**Expected behavior**
It should work with 0.11.0 as well

**Stacktrace**
If applicable, add a stacktrace to

[2021-11-11 21:57] rnestler commented on #883
Sure thing :slightly_smiling_face:

[2021-11-12 21:24] noppej commented on #877
I'd like to add one please ...
- [ ]  Create architecture specific `capstone` in the debugger. Currently it assumes `arm`
https://github.com/probe-rs/probe-rs/blob/545267b0065e5242a84826dc3de2dbd6e6dd4fd3/debugger/src/debugger.rs#L320-L324

[2021-11-12 21:27] Tiwalun commented on #877
Thanks, I've added it.

Feel free to edit the issue directly next time, then the progress is tracked.

[2021-11-13 22:58] wjbuys commented on #507
I'm running into the same issue while trying to flash an ATSAMD21G18AU (Adafruit Feather M0 Express); probe-run tries to erase flash at address 0x0000, even though `memory.x` reserves 8k for the bootloader and `--nmagic` is passed to the linker:

[code]

This is trying to flash the unmodified blinky_basic example from [here](https://github.com/atsamd-rs/atsamd/tree/master/boards/feather_m0)

[2021-11-16 19:01] jacobrosenthal commented on #531
I'm getting this as well with daplink so its not just jilnk.

That said switching back to a jilnk and a basic nrf-hal blinky example, even on nightly, I cant reproduce.

With embassy it happens though. I think this is the smallest embassy reproducer, not even using embassy, just using embassy-nrf hal instead of nrf52840 hal

https://github.com/jacobrosenthal/blinky-button-demo

First commit is the

[2021-11-16 20:17] Tiwalun commented on #531
I've tried to reproduce this, but i wasn't able to. I found some other bugs in probe-rs however 😅.

What OS are you using, @jacobrosenthal ?

[2021-11-16 20:25] jacobrosenthal commented on #531
@Tiwalun Ubuntu 21.10
Linux j 5.13.0-21-generic #21-Ubuntu SMP Tue Oct 19 08:59:28 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-11-17 07:30] Tiwalun commented on #531
I think the problem could be that the [`StackFrameIterator`](https://github.com/probe-rs/probe-rs/blob/7b87c118a805dafb56c82515ea52b464d21399df/probe-rs/src/debug/mod.rs#L244) never finishes, but gets caught trying to unwind the same frame in a loop. This then leads to a stack overflow in the end.

To solve this, we should fix the iterator itself, but it's probably also a good idea to add a limit

[2021-11-17 12:11] noppej commented on #531
@Tiwalun ... I'm working on the [related issue](https://github.com/probe-rs/vscode/issues/15), but you are right. The DAP protocol allows for a 'chunked' retrieval in the [stackTrace request](https://microsoft.github.io/debug-adapter-protocol/specification#Requests_StackTrace). Evidence suggests (I have not found docs on this) that VSCode usually requests 20 frames at a time.

When I implemented t

[2021-11-17 15:14] noppej commented on #531
@jacobrosenthal Thanks for setting this up. I am able to reproduce the stack overflow with this (minor mods to work on my nrf52833).

[2021-11-17 18:03] noppej commented on #531
@Tiwalun I am available to take on this issue. Please tag me to confirm/deny, so that we don't duplicate effort :)

[2021-11-17 18:24] Tiwalun opened #892 "Endless loop in StackFrameIterator"
I think the problem could be that the [`StackFrameIterator`](https://github.com/probe-rs/probe-rs/blob/7b87c118a805dafb56c82515ea52b464d21399df/probe-rs/src/debug/mod.rs#L244) never finishes, but gets caught trying to unwind the same frame in a loop. This then leads to a stack overflow in the end.

To solve this, we should fix the iterator itself, but it's probably also a good idea to add a limit

[2021-11-17 18:28] Tiwalun commented on #531
@noppej I've created a new issue for the endless loop in the StackFrameIterator, and I'm working on fixing that now. I've split it up, because it seems to be a different issue than the original issue here.

The original issue mentioned here is something in the J-Link implemenation, so I'd like to keep them separate.

[2021-11-17 21:07] #892 closed

[2021-11-17 23:02] MabezDev commented on #877
Perhaps not specific to RISCV, but perhaps the unwinder could be more robust when debug info is missing for a particular PC (i.e, ROM code that doesn't have debug symbols). At the moment, the `StackFrameIterator` returns `None` which stops the unwinding, maybe we could add `Unknown frame @ 0xDEADBEEF` and continue the unwinding.

[2021-11-18 20:25] noppej opened #894 "debugger: ERROR: thread 'main' has overflowed its stack"
**Describe the bug**
Using the `probe-rs-debugger` with the VSCode extension, the user will see an error message popup that has:
[code]
And the Debug Console will show:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Using a Micro:Bit v2 with nrf52833 chip
2. Create a VSCode project with the code from [embassy examples for nrf: raw_spawn](examples/nrf/src/bin/raw_spawn.rs)
3. Run the

[2021-11-18 20:57] noppej commented on #877
@MabezDev ... This should be easy enough to do, and I'm willing to take it on. However, it really doesn't  belong in this Issue, so maybe you can create a new one (enhancement)? It would help me if you could give a bit of an explanation of how the `Unknown frame @ 0xDEADBEEF` (yes, I see what you did there ... lol), would be useful in a debug situation.

[2021-11-18 22:05] MabezDev opened #896 "Make stack unwinding more robust"
**Is your feature request related to a problem? Please describe.**
When unwinding the stack, if a given PC does not have any debug info associated with it [the unwinder will stop](https://github.com/probe-rs/probe-rs/blob/master/probe-rs/src/debug/mod.rs#L393-L403) regardless of whether there are more frames to unwind. This can happen in a number of circumstances, but in my case it was due to call

[2021-11-18 22:06] MabezDev commented on #877
I've opened https://github.com/probe-rs/probe-rs/issues/896 :)

[2021-11-19 05:44] Tiwalun commented on #896
@MabezDev Do you know how the frame pointer is handled for RISCV targets? For the thumbv6 / thumbv7 targets, the framepointer is explicitly enabled in the rustc target spec:

[code]

For the RISCV targets this doesn't seem to be the case. If the frame pointer gets optimized away by rustc / LLVM, we will need the DWARF information to do unwinding, so I don't think we can improve our behaviour in th

[2021-11-19 10:58] MabezDev commented on #896
This wasn't always the case for thumb targets, see this PR: https://github.com/rust-lang/rust/pull/69248. Perhaps we should PR something similar for the bare metal RISCV targets.

[2021-11-19 11:03] MabezDev commented on #896
Oh actually it used to the case for RISCV too, https://github.com/rust-lang/rust/pull/61675, but it was removed via https://github.com/rust-lang/rust/pull/69890.

I guess to improve stack unwinding we can note that frame pointer elimination should be disabled. However my original reason for opening this is debugging whilst calling into binary blobs, it should be possible to continue unwinding even

[2021-11-24 16:48] jonathanpallant opened #904 "ProgressEvent::Initialized has undocumented fields."
**Describe the bug**

The enum `ProgressEvent` is provided to give progress feedback to the user of the probe-rs flashing API. The `ProgressEvent::Initialized` enumerator contains on field called `flash_layout` of type `FlashLayout`.

`FlashLayout` is not documented.

**To Reproduce**
Steps to reproduce the behavior:

1. Search for `FlashLayout` on docs.rs/probe-run

**Expected behavior**

`FlashL

[2021-11-28 19:59] xd009642 opened #1382 "rtt ui unusable if RUST_LOG > info"

[2021-11-30 15:13] TomDeRybel opened #913 "Support for STM32H735 and friends"
Recently, the stm32h7 and stm32h7xx-hal crates have added support for the STM32H735 family of chips. Unfortunately, these are not yet supported targets for probe-rs. Could support for these devices be added to the probe-rs crate?

The current pack from the ARM site contains all these new parts: Keil.STM32H7xx_DFP.2.7.0.pack

Though, for some reason, the target-gen output is not as nice as the YAML

[2021-12-08 19:28] Dirbaio commented on #919
Isn't this already done? https://github.com/probe-rs/target-gen/pull/35#issuecomment-965780213

[2021-12-08 19:38] Yatekii commented on #919
Yes :) Thanks for linking it :)

[2021-12-08 19:38] #919 closed

[2021-12-12 10:10] korken89 opened #922 "Out of bounds access in probe-rs"
**Describe the bug**

I randomly get crashes like this when using `probe-run` and `cargo embed`:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. No idea, seems to happen randomly

**Expected behavior**
No crash.

**Stacktrace**
If applicable, add a stacktrace to help explain your problem.

**Desktop (please complete the following information):**
 - Arch Linux 5.15.7

[2021-12-12 13:06] adamgreig commented on #922
Huh, weird. It looks like this would happen if the probe returns _more_ transfers than we requested. It's allowed to return fewer when one transfer fails, and ideally returns the same number if they were all OK, but it seems like it should not return more unless something's gone wrong. What probe are you using?

In any case it shouldn't panic with an invalid slice access so I've opened #923 to con

[2021-12-12 16:43] korken89 commented on #922
Hi, thanks for giving it a look! It's with a dap42 probe, it does however never happen with my HS probe.
I think the fix in #923 looks good.

I'll try to catch it, but it happens so randomly that I can't guarantee it.

[2021-12-13 09:39] #922 closed

[2021-12-15 16:18] tmplt opened #926 "ATSAME51N20A: CMSIS-DAP error on `cargo flash`"
[code]

Probably some missing unlock sequence. To be investigated.

[2021-12-15 16:22] tmplt commented on #926
CC @perlindgren @vccggorski, to keep you in the loop

[2021-12-15 18:43] Yatekii commented on #926
Hmm I feel like there is the most specific part of the error missing?

Also, this is expected for atmsamd. They need a special sequence to boot, which has not yet been implemented. So them working is kinda hit or miss.

[2022-01-02 10:48] Eekle opened #935 "Invalid USB interface descriptors can silently crash the libusb stack and probe-rs"
The libusb bug is described in https://github.com/libusb/libusb/issues/1039.

Invalid USB interface descriptors cause a read access violation, which immediately terminates execution. Probe-rs silently fails to enumerate probes with no explanation and insufficient debug log.

![afbeelding](https://user-images.githubusercontent.com/96976531/147873409-f5497411-ba4f-4e28-85fb-05f99f8abf48.png)

---

S

[2022-01-03 04:11] mriise opened #943 "LPC55 Failed to Attach CMSIS-DAP"
**Describe the bug**
Probe-rs fails to attach to target with `Failed to get information for AP ApAddress { dp: Default, ap: 0 }`

**To Reproduce**
Steps to reproduce the behavior:
1. Link2 CMSIS-DAP or Mbed(0257 beta3) firmware on the probe for the lpcExpresso dev board
2. cargo embed --release --probe 0d28:0204

**Expected behavior**
Attach to target, flash, then debug

**Stacktrace**
[code]

[2022-01-03 20:23] wt commented on #943
NXP devices can't be probed right now (at least not mine), you need to manually specify the chip type.

[2022-01-03 20:46] wt commented on #943
BTW, I just posted a PR to enable the debug probe for the s16.

[2022-01-04 00:02] mriise commented on #943
do you mean with cli args? I was using `Embed.toml` to define the chip...

[2022-01-04 03:14] wt commented on #943
For the lpc55S16-evk, you'd use an arg like this `--chip LPC55S16JBD100`. However, that particular one will not work until my commit is merged. I don't know what the equivalents for your chips are.

Having said that, probing could probably be made to work. I got pretty close the other day, but I realized that the yamls with the chip info didn't include all the needed info to do the probe for the n

[2022-01-04 03:24] wt opened #946 "probe-rs-cli: Please add a list chips command somewhere."
As it stands, it's kinda difficult to identify the proper chip names that can be used. I would be great to have a list-chips subcommand to list out all the possible chips.

It would also be need to have a command to print the info about a particular chip instead of having to look in the source yamls manually.

[2022-01-04 06:50] mriise commented on #943
if that's the case I don't mind picking up where you left off.

 I also realized I could probably dig into pyocd to lean how they do it as well since hubris uses it to probe.

[2022-01-04 06:54] wt commented on #943
Check out `./probe-rs/src/probe`. That's where the probe logic is. The problem is that the info discovered in the debug probe doesn't appear to match directly with what is in the yaml.

[2022-01-04 17:47] Yatekii commented on #935
Thanks a lot for the extensive report!

We have discussed this via call and Matrix quite a bit yet and sadly at the current time it seems like there is no easy fix. Reshufflin the order at which probes are polled could fix this specifc case but is not a proper general fix.

[2022-01-04 17:51] Yatekii commented on #946
Sounds like a sensible addition!

[2022-01-04 18:52] Yatekii commented on #943
specifying the chip in the Embed.tol like you did is fine @mriise.

You seem to need an entry here https://github.com/wt/probe-rs/blob/d8b986e6457c913be6300ae61832f80b86c74467/probe-rs/src/config/target.rs#L92 just like @wt said.
Currently sequences are in a functional but rough state and the LPC55SXX series require sequences. But that brings us closer to having nice sequences :)

[2022-01-04 19:13] Eekle commented on #935
Yeah that's fair.

If rusb is set to spit out the debug logs from libusb, it's a lot easier to see where it fails. But that only prints it to stdout, which is hardly the most useful.

[2022-01-05 02:06] mriise commented on #943
@Yatekii since you were involved in getting the sequences for the s69, are there some sources I can refer to to make sure the s1 and s2 sequences accounted for? looking though pyocd they only have raw hex for the sequences, though even there I can see that there _are_ differences between them. [ref](https://github.com/pyocd/pyOCD/blob/main/pyocd/target/builtin/target_LPC5526Jxxxxx.py) Though the g

[2022-01-05 05:17] Tiwalun commented on #943
@mriise The debug sequences are based on the CMSIS-Packs from ARM. These sequences are described here: https://arm-software.github.io/CMSIS_5/Pack/html/debug_description.html.

You can find a CMSIS-Pack for your chip on this ARM site: https://developer.arm.com/tools-and-software/embedded/cmsis/cmsis-search, and then look at the *.pdsc file inside. The sequence for the S69 was copied from its CMSIS

[2022-01-05 05:26] #946 closed

[2022-01-05 05:35] mriise commented on #943
Thanks a lot for this @Tiwalun!

[2022-01-05 05:39] wt commented on #946
Nice!

[2022-01-05 12:59] Dirbaio opened #949 "stm32h7: last word written to RAM may get "reverted" on reset"
STM32H7's  ECC RAM behaves funny on reset [(source)](https://www.st.com/resource/en/application_note/dm00623136-error-correction-code-ecc-management-for-internal-memories-protection-on-stm32h7-series-stmicroelectronics.pdf):

is done on read-modify-write basis. On an incomplete access, the ECC does not write the value immediately. As it
may be the very next byte or half word, it waits for the next

[2022-01-05 14:05] Yatekii commented on #949
Hmm a cudtom sequence would work I guess :) Maybe we can even find something according in the packs?

[2022-01-05 14:07] Tiwalun commented on #949
Maybe having a way to specify this as part of the target description? Some kind of attribute for the memories, which are already described there.

[2022-01-05 20:08] mriise commented on #943
I tried using probe-rs with my s69 dev board using the jtag and CMSIS probe firmware provided by nxp with the same result as above. [gist](https://gist.github.com/mriise/9ded2f5c736b8bfdedae051fb5ec502d)

I also reviewed the debug sequences between the 3 series and found a few differences the rest being between driver files and extra logic needed for the dual core s6 series.

s1 is missing `ENABLE

[2022-01-05 20:55] Yatekii commented on #943
Pretty sure this was done with an onboard probe provided with the NXP devkit (MCU-LInk?). It is CMSIS-DAP based.

[2022-01-05 21:46] mriise commented on #943
I am using the onboard debugger for the LpcXpressoV2 with `LPC432x_IAP_CMSIS_DAP_NB_V5_361` firmware flashed to it using lpcscrypt. the Jlink firmware comes from NXP as well. the device enumerates as `NXP Semiconductors LPC-LINK2 CMSIS-DAP V5.361` with the CMSIS-DAP firmware flashed to it.

[2022-01-06 03:23] wt commented on #943
FWIW, the sequences are documented in user manuals for the various devices. I have the user manual for the s16 in front fof me and I see that it's in there. I am not sure if the implementation conforms or not.

[2022-01-06 08:03] mriise commented on #943
Is that including debugging? if so, rtt or some other way?

[2022-01-06 10:14] Tiwalun opened #951 "Architecture in GDB target description is wrong"
**Describe the bug**

The following error appears in GDB, when trying to use the built-in GDB server:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `cargo run -p gdb-server --features build-binary -- --chip armv7`
2. Start gdb
3. Connect to server in GDB, using `target remote :1337`

**Expected behavior**
Correct architecture should be returned.

This happens on current master.

[2022-01-06 21:22] #951 closed

[2022-01-16 14:03] BrendanBall opened #963 "Support for STM32F303VCT6 (STM32F3DISCOVERY)"
**Is your feature request related to a problem? Please describe.**
I've been trying to get into embedded with Rust and started following https://docs.rust-embedded.org/discovery which uses the STM32F3DISCOVERY board.
Unfortunately this chip isn't yet supported by probe-rs.

**Describe the solution you'd like**
Support for STM32F303VCT6

**Describe alternatives you've considered**
None

**Additiona

[2022-01-16 14:08] adamgreig commented on #963
Thanks for the report! This chip is supported under the name "STM32F303VCTx" - the `x` indicates it supports both 6 and 7 in the part number, which refers to the operating temperature range (the names come from ST).

So, you should be able to set `chip = STM32F303VCTx` in `Embed.toml`, or `--chip STM32F303VCTx` with `cargo flash`.

You can use `cargo flash --list-chips` to get the full list, but I

[2022-01-16 14:23] BrendanBall commented on #963
Ah awesome. Yes I was following the docs on https://github.com/knurling-rs/probe-run and just did `probe-run --list-chips | grep STM32F303VCT6` which didn't return anything, and also got `Error: The requested chip 'STM32F303VCT6' was not found in the list of known targets` when specifying  `--chip STM32F303VCT6`. I definitely think there needs to be a way to specify the exact chip (or at least dis

[2022-01-16 14:27] adamgreig commented on #963
Probe-rs does have functionality for automatically discovering the chip but it's not very comprehensive at the moment as it basically has to be specialised for every vendor - there's no standard way to detect the chip unfortunately. Still, it would be possible to do much better autodetection than we do currently.

[2022-01-16 14:29] BrendanBall commented on #963
Thanks for the quick responses :smile: . At least someone will find this issue now if they search STM32F303VCT6 or STM32F3DISCOVERY

[2022-01-16 14:29] #963 closed

[2022-01-16 15:20] adamgreig commented on #963
I've opened #964 so that in future it will select the right chip when you ask for `STM32F303VGT6` and similar, and drop a log message letting you know the canonical name is with the x. Thanks for the inspiration!

[2022-01-16 15:25] BrendanBall commented on #963
Awesome!

[2022-01-16 16:51] jacobrosenthal opened #965 "cmsisdap: Stackoverflow"
Same issue as months ago from here https://github.com/probe-rs/probe-rs/issues/531 I was checking back into, but that issue wants to be for just jlink

Mainly im attempting to use vscode and probe-rs-debugger on embassy. A simple example like this works without embassy, but presumably async stuff is deep enough to trigger?. Uses an nrf52840-mdk which has a cmsis dap on board
https://github.com/jac

[2022-01-16 20:21] noppej commented on #965
I will test this against #893 to make sure we catch this as well. Let's keep this Issue open for now until we know for sure.

[2022-01-19 21:27] noppej commented on #350
@Yatekii can you please give some guidance on how we could use sequences to fix this?

[2022-01-19 22:56] noppej commented on #965
@jacobrosenthal Are you able to test this with the VSCode extension and `probe-rs-debugger` branches I just uploaded? (details in https://github.com/probe-rs/vscode/issues/26#issuecomment-1016870363)

[2022-01-19 22:59] noppej commented on #896
@MabezDev I implemented a fix that will unwind as long as I can determine a valid LR and PC, and then if no other information is available, will at least show you the Register values for that frame.   Are you able to try this with the new branches I mention in https://github.com/probe-rs/vscode/issues/26#issuecomment-1016870363, and let me know how you would like to enhance based on that solution?

[2022-01-19 23:00] TheButlah opened #973 "Could not determine a suitable packet size for hs-probe and nrf52840"
**Describe the bug**
Using nrf52840 (the [nice!nano](https://nicekeyboards.com/docs/nice-nano/pinout-schematic) specifically). and [hs-probe](https://shop.probe.rs/), I tried to run `cargo flash --chip nrf52840`.

**To Reproduce**
I have connected the hs-probe to the [adafruit SWD breakout board](https://www.adafruit.com/product/2743).

Connect Pins (breakout -> nice!nano):
* SWIO -> SWD
* CLK ->

[2022-01-20 01:01] Yatekii commented on #350
So the idea is that there is a sequence hook which enables debugging utilities on a chip.
For the ST CMSIS-Packs you can see in what hook they do it:

[code]

We should have this hook on the sequence trait already. If we do not we have to introduce it and use it at the right place in probe-rs. The spec here: https://www.keil.com/pack/doc/CMSIS/Pack/html/debug_description.html#pdsc_SequenceNameEnum

[2022-01-20 14:51] noppej commented on #350
@Yatekii thank you, this is very helpful. I will mess around with it and ask if I have more questions.

[2022-01-20 15:41] darryln opened #974 "vscode debugger popup shows invalid path (does not exist)"
Moved here from [vscode] (https://github.com/probe-rs/vscode/issues/26)  per @noppej.

Getting this popup, but the path is invalid (does not exist):
![image](https://user-images.githubusercontent.com/6923545/150369700-1f94aff3-05c4-49ed-a389-994b4064c280.png)

See objdump excerpts below. There is one compilation unit for asm/lib.rs. Its comp_dir is "./", but the code is substituting the full  base

[2022-01-20 16:23] jacobrosenthal commented on #965
Yeah it looks good!

[2022-01-20 16:46] jacobrosenthal commented on #531
I believe this is fixed as well by https://github.com/probe-rs/vscode/issues/26#issuecomment-1016870363 but perhaps @Dirbaio wants to confirm

[2022-01-20 16:51] jacobrosenthal commented on #965
So I guess this is a different stackoverflow bug. But I confirmed that [this](https://github.com/probe-rs/vscode/issues/26#issuecomment-1016870363) fixes embassy programs for both cmsis and jlink

[2022-01-20 16:52] jacobrosenthal commented on #531
Sorry for the noise, I guess this is still something unrelated

[2022-01-20 16:53] Dirbaio commented on #531
This issue is unrelated to the vscode debugger pointer loop issues.

This one is something much lower-level, related to the SWD protocol: doing an SWD register write can fault, which sets a "fault" flag. To clear it you have to do another register write, so the "write_register" fn calls itself. Of course the "clear fault" register write isn't supposed to fault itself, but if it does then it stack

[2022-01-20 21:17] dylanede opened #975 "Debugger: Panic with "This is a bug. Please report it.""
**Describe the bug**
When I enable flashing with the debugger, connecting to a Raspberry Pi Pico (RP2040) over CMSIS-DAP v2, the debugger panics after flashing. No problems occur if flashing is disabled (i.e. `--flashing-enabled` is not passed to `probe-rs-debugger`).

**To Reproduce**
Steps to reproduce the behavior:
Simple application based on https://github.com/rp-rs/rp-hal/blob/main/boards/rp-

[2022-01-21 11:06] noppej commented on #975
@dylanede I believe I've fixed this in a recent PR (still in review). If you want, you are welcome to test it with this unpublished code \( [instructions here](https://github.com/probe-rs/vscode/issues/26#issuecomment-1016870363) \), or alternatively I will let you know once that PR is merged into the master branch.

[2022-01-21 11:18] noppej commented on #974
@darryln I am able to reproduce this. What is happening is that the debugger finds some RUST source statement that uses the `asm::` form to execute assembly code. If you put a breakpoint immediately before this code, it will find it and stop correctly. However, once the processor starts stepping into this code, the PC register points to a location inside the compile unit that has an incomplete dir

[2022-01-21 18:14] darryln commented on #974
I think I know nothing about this code, and I think your description sounds like a plan.

[2022-01-24 16:31] MabezDev commented on #896
FYI this is what the same call stack looks like with openocd:

![image](https://user-images.githubusercontent.com/6977289/150823841-f195115c-6259-49a3-b1a0-d445a0deebb2.png)

[2022-01-25 17:41] noppej commented on #896
@MabezDev Thank you for taking the time to test this. I will continue to work on this and keep you posted.

[2022-01-25 17:43] noppej commented on #896
@MabezDev A quick question. Do you like seeing the namespace name as part of the function name in the call stack (as per your openocd example)? Or do you prefer just the function name (as in the probe-rs example)?

[2022-01-25 19:43] MabezDev commented on #896
Namespace can be useful at a glance, but it's not strictly necessary as it's possible to figure out where it comes from with the filename and line number. The `@` following by address is quite handy though.

[2022-01-25 23:58] david-boles opened #980 "Overlapping Segments/Headers - Differing Behavior from rust-objcopy (llvm-objcopy)"
**Describe the bug**
A seemingly valid linker scripts can produce program headers/segments in the ELF that overlap. rust-objcopy (llvm-objcopy) somehow handles this fine but probe-rs errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone [this repo](https://github.com/david-boles/pinetime-rust-mcuboot/tree/overlapping-segments).
2. Attempt to flash to a chip, e.g. `cargo flash --elf t

[2022-01-26 00:07] Dirbaio commented on #980
A binary with overlapping sections is a broken binary. You should fix your linker script.

objcopy probably doesn't check for overlapping sections, so the result is probably the 2nd overlapping section overwriting the 1st in the resulting bin.

[2022-01-26 02:51] david-boles commented on #980
I have fixed my scripts, I just opened this based on what tiwalun said. Happy to close if desired!

[2022-01-26 09:39] Yatekii commented on #980
I think it might be of use for some applications (nRF standard utilities that have a bootloader etc have the issue of overlap. And their mergehex utility can handle this). So it's def. not a good solution and you should ALWAYS fix your ELF, but it might be warranted to think about whether this should be a hard error or a warning. Personally I favor the hard error.

[2022-01-26 14:01] Dirbaio commented on #980
which binaries? I've never seen that

[2022-01-26 17:17] shulltronics opened #1381 "Enable Pin Reset"
I'm developing firmware for an nRF52832, and `cargo embed` is a huge help; however, I have an issue where my chip will not reset on power cycle or via the hardware pin reset button. My code will only run when I flash and reset the chip via `cargo embed`. This is frustrating, because I cannot run my firmware without flashing the code right then and there.

Upon investigation, I realized that the nR

[2022-01-30 02:59] Yatekii commented on #782
Fixed in #962 :)

[2022-01-30 02:59] #782 closed

[2022-01-30 03:07] Yatekii commented on #792
This has been improved as much as possible :)

Closing.

[2022-01-30 03:07] #792 closed

[2022-01-30 03:08] Yatekii commented on #114
I think most is here and what is not will not get in unless someone will work on it in the future :)

Closing.

[2022-01-30 03:08] #114 closed

[2022-01-30 03:10] Yatekii commented on #168
Since this did not get any more attention it seems to be resolved. Feel free to reopen if this is still an issue :)

[2022-01-30 03:10] #168 closed

[2022-01-30 03:25] Yatekii commented on #247
I will close this since an erase fixes this. Also, newer structures in probe-rs allow to unlock automatically with given permission :)

[2022-01-30 03:25] #247 closed

[2022-01-30 03:26] #198 closed

[2022-01-30 03:46] Yatekii commented on #297
I consider this resolved :)

[2022-01-30 03:46] #297 closed

[2022-02-01 20:11] noppej commented on #974
Update: In addition to the condition described above, there are also situations where the path to `.asm` files are hardcoded and point to locations that are not accessible to the user. The problem and future solution is described [here](https://github.com/rust-embedded/cortex-m/issues/419)

[2022-02-02 16:17] k0d opened #991 "get_target_voltage not exposed?"
https://github.com/probe-rs/probe-rs/blob/477165a73e163092c8eaa21ed90af9544c818176/probe-rs/src/probe.rs#L513

This is available on the DebugProbe struct, but not a Probe struct. Should this be exposed with something like...
[code]

...or is there some other way to access it?

[2022-02-02 16:25] Tiwalun commented on #991
I don't see a way to access it either, a PR adding this would be great.

Just be aware that this is not supported by all probes.

[2022-02-02 18:39] k0d opened #993 "JLink reset_target"
https://github.com/probe-rs/probe-rs/blob/bfa7cf6c00ecc47097e386efa30579db74fdd105/probe-rs/src/probe/jlink/mod.rs#L545

I need to do a hard reset of my target, but it's not implemented on JLink, what would you suggest to get this working? assert the reset pin for X milliseconds and then de-assert it? Should it be in this jlink/mod.rs file, or should we make target_reset_assert in probe.rs public?

[2022-02-02 19:11] Tiwalun commented on #993
If you just want to reset when attaching, you can use the `Probe::attach_under_reset` method.

The easiest way to implement this would be to use the [reset_target] method available on the J-Link, then the error can be removed.

[reset_target]: https://docs.rs/jaylink/latest/jaylink/struct.JayLink.html#method.reset_target

[2022-02-02 19:12] k0d commented on #993
Sounds good...I'll sort it and do a PR

[2022-02-03 15:18] diondokter opened #994 "Can't flash nRF9160 with HS probe"
**Describe the bug**
I can't flash my nRF9160 using the HS Probe.
I've just updated the HS probe to the newest firmware, but no change.

It does work with the jlink of the Nordic DK's (tested with an nRF53 DK).
It works with both swd and jtag as the protocol.

**To Reproduce**
1. Have an embedded project (in this case https://github.com/tweedegolf/dis-bootloader)
2. Run `cargo flash --release --ch

[2022-02-03 16:46] alexxy opened #995 "Suppor for WCH-Link - CMSIS-DAP V2 probe"
Hi!

There are CMSIS-DAP v2 adapters from China that works with openocd

[code]

log from openocd

[code]

probe-run/probe-rs doesnt find it since it detects cmsis-dap adapters by  checking for CMSIS-DAP in product string

[2022-02-03 20:17] adamgreig commented on #995
Aw, the _one thing_ that makes a cmsis-dap probe cmsis-dap is that it has to say "CMSIS-DAP" in the product string!! It's not like you even have to get tested or approved or anything to do it... why.....

Do you know if openocd has to do anything with these besides talk regular cmsis-dap to them? Could you test just updating our cmsis-dap detection to include their product strings, just to check t

[2022-02-03 20:44] alexxy commented on #995
Hi!

I tryed updating product detection like this

[code]

After that I can detect probe using

[code]

but info doesnt work =\

[code]

lsusb info for the probe
[code]

BTW: working config for openocd

[code]

so it looks like

[code]

[code]

[2022-02-03 20:45] alexxy commented on #995
Seems there were similar issue with https://github.com/pyocd/pyOCD/issues/1121

[2022-02-03 20:47] #894 closed

[2022-02-03 21:44] noppej commented on #975
@dylanede Can you please confirm that this is fixed with the latest (master) of probe-rs-debugger and VSCode extenstion 0.3.4 ?

[2022-02-03 22:15] noppej commented on #974
Closing this as there is already a tracking issue #788

[2022-02-03 22:15] #974 closed

[2022-02-04 15:57] dylanede commented on #975
This particular problem appears to be fixed, and I can use the debugger in the terminal (stepping, resetting, halting works), but now the (updated) VSCode extension complains with _"An error with the usage of the probe occurred"_. The only output in the debug console is
[code]
Shall I raise a separate issue on the extension repository for this?

Note that there is one bit of unusual behaviour with

[2022-02-05 01:32] Dirbaio opened #997 "jlink: Unhelpful error message when multidrop is not supported"
jlink does not support multidrop, so this is not expected to work.

However, the error message is not helpful at all. This message should show, but for whatever reason it doesn't: https://github.com/probe-rs/probe-rs/blob/master/probe-rs/src/probe/jlink/swd.rs#L724

[code]

[2022-02-05 09:39] korken89 commented on #997
This seems to not be a JLink specific bug.
I get the same error using a DAP42 and HS probe when trying to connect to the RP2040.

[2022-02-05 10:27] Yatekii commented on #997
Does the cli unwrap errors properly? I am not sure.

[2022-02-08 11:52] adamgreig commented on #995
Interestingly it looks like using the path provided by hidapi let them check if the interface says "CMSIS-DAP" instead of the product string - we could probably do the same when searching for HID devices, as well as checking interface names for composite devices that don't have it in the product string when using rusb. It'l require some tweaks to the probe searching code but seems like it would be

[2022-02-13 23:17] jg2562 opened #1005 "[Feature Request] Update STM32H7 yaml"
**Is your feature request related to a problem? Please describe.**
The current STM32H7 YAML does not contain several newer targets. I am currently using a microcontroller target that is only in the newer YAML, so I cannot upload to the newer board.

**Describe the solution you'd like**
The current STM32H7 YAML be replaced by the newer version.

**Describe alternatives you've considered**
I tried c

[2022-02-13 23:21] adamgreig commented on #1005
Which STM32H7 are you using, and how did you try to update the YAML? I thought GitHub only blocked files >100MB which seems _really_ large for a target YAML file, so maybe something went wrong in generation or you accidentally added some other files?

[2022-02-13 23:37] jg2562 commented on #1005
Im using the STM32H723ZGTx. I followed the instructions [here](https://github.com/probe-rs/probe-rs#adding-targets) and I ended up with a single file that is 114Mb, so something definitely could have gone wrong in generation. It looks like the majority of it is the instructions from flash algorithms.

[2022-02-15 22:09] Yatekii commented on #1005
You could try with https://github.com/probe-rs/probe-rs/pull/1010 :)
in release it takes 8s and generates a 900kb file. I am not sure it's correct tho. Lots of changes.
Also, it seems like the right cores are missing from the algos. But I am not sure we ever use that.

[2022-02-16 03:04] jg2562 commented on #1005
I was able to upload a program to my dev kit, and it ran correctly, so I assuming it's correct enough? Since its a smaller size, I will open a PR now.

[2022-02-16 05:30] sphw opened #1012 "nRF5340 fails to flash under multiple circumstances"
**Describe the bug**
I am experiencing a consistent error while flashing the nRF5340.

## Failed to write register DRW at address
[code]

This error appears to happen only after my bootloader has been flashed. I am not sure why this would be the case, but in the instance where the device does not have a bootloader (i.e a valid vector table at 0x0) everything appears to be fine. I can flash multipl

[2022-02-16 09:21] Yatekii commented on #1012
Hi :)

Can you please paste the full command/code (always include it in general, because without it it's just guesses in the dark (well it might be with it as well :D)) you are running to receive this log?

[2022-02-16 17:45] sphw commented on #1012
Oh yup of course (that's what I get for filing bugs late at night). I am using `cargo flash` and the following command: `cargo flash --chip nRF5340_xxAA --log trace --target thumbv8m.main-none-eabihf`

Here is a link to the bootloader I am flashing: https://github.com/m10io/frumsceaft/blob/main/examples/secure-blinky/src/main.rs

I have attached the full log below:
[code]

[2022-02-16 22:20] jg2562 commented on #1005
Solved by #1011

[2022-02-16 22:20] #1005 closed

[2022-02-21 01:53] ianrrees commented on #562
@allexoll, I wonder if https://github.com/probe-rs/probe-rs/pull/1019 might help with this?

[2022-02-21 17:22] noppej commented on #828
@Dirbaio , @Yatekii , @Tiwalun ... I noticed that there is some good work going on in the `probe-rs-cli`. I am thinking I'd like to remove the CLI interface from `probe-rs-debugger`.  Any objections?

[2022-02-21 18:49] Yatekii commented on #828
No, I think that is a good course of action :) Best would be if everything is integrated in probe-rs-cli, even tho that was initially intended as Tiwaluns hack-board :D

[2022-02-21 20:30] ianrrees commented on #827
Can the flash algos typically handle flashing and receiving data over JTAG/SWD at the same time?  I've only looked at them for some weird old chips at work, but those don't do anything that fancy.  So, those steps are done in serial, so I think that even if the flashing itself is the slower part of the process there may still be an advantage in compressing over JTAG/SWD.

[2022-02-23 17:30] noppej opened #1023 "Panic during flashing, because `targets/STM32H7.yaml` has invalid core name for dual-core devices"
**Describe the bug**
Since the latest update of target-gen, the `/STM32H7.yaml` has invalid core name for dual-core devices, causing the flashing to panic with `thread 'main' panicked at 'called ``Option::unwrap()`` on a ``None`` value', probe-rs/src/flashing/loader.rs:304:18`

As an example, look at the various 'name' values below ...
[code]

[2022-02-27 02:17] ianrrees opened #1380 "Config files allow duplicate uses of RTT channels"
Currently, configurations like this are allowed - note the same RTT up-direction channel is used twice:
[code]

There are some possibly valid reasons for doing this; a firmware might provide multiple up rtt-channels which could be connected to separate config-channels, but only a single down rtt-channel which would make sense to connect to each config-channel.

A couple ideas for resolution:

1. T

[2022-02-28 19:32] berkowski commented on #883
I'm having the same issue as @rnestler with a STM32L071RTZx and disabling double buffering per his patch seems to fix it for me as well.  This problem is forcing me to stick with `defmt` 0.2 and older versions of `cargo-flash` and `probe-run` to monitor RTT traffic.

If disabling double-buffering is a fix at the cost of speed could it be made an option for upstream users to opt out of it?

[2022-02-28 19:38] Yatekii commented on #883
Yeah so initially we had a flag in the target yamls that specified if a chip would support double buffering. we could reintroduce that. Double buffering only gives like 20% perf for most chips.

Maybe we have an issue in the calculation of required RAM. Maybe we are too stingy and the algo actually requires more RAM. We should also check if that would solve the issue.

[2022-02-28 20:33] berkowski commented on #883
Is it possible to have it as a library option so that upstream crates like `cargo-flash` could add a command-line argument like `--disable-double-buffering` that would flip the switch?  Having it set in a YAML file seems great for platforms where support is known, and seems like it's the easiest fix but if there's a bug in that file then we'd be back in this same situation.

I'd be happy to take a

[2022-02-28 21:15] Yatekii commented on #883
Sure, I would very much accept that :) I think initially we even had a flag for that internally. Could easily be on the flash options :)

[2022-03-04 12:58] noppej commented on #828
I am going ahead and removing CLI from 'probe-rs-debugger'.  Henceforth, the only command line capabilities will be the `list` (list connected probes) and `list-chips` (list supported chips) that the other tools share. I left these in because it is kinda useful for people getting started with the debugger to be successful, without the need to install a different tool.

As part of this process, I h

[2022-03-05 22:40] Yatekii commented on #233
How is the status of this, @korken89? :) Not sure if this is still a thing, but if yes, a backtrace would indeed help :)

[2022-03-05 22:41] Yatekii commented on #242
I'll close this as most changes have been made and if we need further changes we can do this with the relevant issue/PR.

[2022-03-05 22:41] #242 closed

[2022-03-05 22:42] Yatekii commented on #258
Closing this as we kind of informally decided against such a thing and with the implementation of microsoft DAP, the DAP debugger could be considered as a server for this.

[2022-03-05 22:42] #258 closed

[2022-03-05 23:06] Yatekii commented on #383
I changed the title of this, because it is not related to JLink most likely and surely not macOS.

Generally the ATSAM cores are/were always super flaky.

If you could give this another try @ryankurte & @LongLiveCHIEF that'd be nice :)

[2022-03-05 23:07] Yatekii commented on #373
I will close this, as it appears to be an issue with the EFR32 chips. If the **STM32** problem persists, please reopen.

[2022-03-05 23:07] #373 closed

[2022-03-05 23:09] Yatekii commented on #453
I think this is resolved now. Please reopen if I am incorrect.

[2022-03-06 00:41] Yatekii commented on #453
I am working on this :)

[2022-03-06 11:48] barafael opened #1045 "Erasing a flash page results in "Error communicating with probe" on stm31f103 "blue pill""
**Describe the bug**
When flashing a program which calls `stm32f1xx_hal::flash::FlashWriter::erase`, the probe flashes the binary correctly, but RTT communication never happens. On terminal, I see:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Here's the example:

[code]
2. ... Compile the example code. Note if you run this from stm32f1xx_hal examples directory: You have to add `rt

[2022-03-06 11:56] burrbull commented on #1045
Is it official ST chip?

[2022-03-06 12:01] barafael commented on #1045
@burrbull good point. Looks official to me, as per printing on the chip.

[2022-03-06 12:11] burrbull commented on #1045
Try to move `rtt_init_print!();` to first line in `main`. Possibly `unwraps` break something.

[2022-03-06 12:24] Yatekii commented on #1045
Hey :)

This is to be expected. You cannot access the memory bus while flashing is in progress and thus RTT fails to poll the memory. We could make this more robust and retry to fix this.

[2022-03-06 15:39] barafael commented on #1045
I see, that makes sense! Thanks :)

[2022-03-06 15:51] barafael commented on #1045
To be fair, this works just fine:

[code]

[2022-03-07 10:46] folkertdev opened #1046 "nrf9160: RTT messages not printed after a reset"
**Describe the bug**

RTT logs are not shown after a reset.

**To Reproduce**
Steps to reproduce the behavior:
1. clone https://github.com/tweedegolf/nrf9160-rust-starter/tree/rtt-after-reset
2. run `cargo run --bin hello`
3. press the reset button

**Expected behavior**
RTT would reconnect, so we see another "Hello, world!" printed after the reset.

**Stacktrace**
If applicable, add a stacktrace

[2022-03-07 13:00] Yatekii commented on #1046
Well, the target goes into WFI, so it most likely interrupts the debug connection, which would make sense.
You could see if the issue persists when you replace the `wfi` instruction with another `rprintln` or the likes :)

As for a nicer error message, that would really be up to `probe-run` :) probe-rs just detects that there was no ack :)

[2022-03-07 13:42] folkertdev commented on #1046
I'm not sure I understand. Another `println` does not work because the main function needs to return `!`. Hence, we must have some diverging operation, either a loop or a panic. In practice `main` most applications would have a loop that waits for interrupts or events.

So are you saying that RTT cannot be used across resets when `main` contains a loop that waits for interrupts?

[2022-03-07 14:25] Yatekii commented on #1046
You have to replace the WFI instruction. not the loop. WFI disables debug communication, unless properly configured. A soft reset should work without issues. Hard reset wont, for obvious reasons. That can be handled hostside tho.

[2022-03-07 15:12] noppej commented on #1046
@Yatekii Could we not solve this more gracefully by configuring a debug sequence to keep the connection alive during wfi?

[2022-03-07 15:17] Yatekii commented on #1046
Well yeah, the framework is there :) It just needs some1 to port them all :) Plus, some targets still fuck up and break ...

[2022-03-07 17:19] Dirbaio commented on #1046
nrf52 and nrf53 have the same issue.

The issue is not WFI. nRF's debug keeps working across WFI. (they honor the DP CDBGPWRUPREQ, unlike stm32 >_>)

The issue is while RST is held, SWD doesn't work. (RST holds the SWD logic in reset, unlike stm32 >_>). I don't think there's anything we can do from probe-rs, other than making RTT resilient to errors (on error, keep trying to reattach...)

[2022-03-07 22:20] Yatekii commented on #1046
Ah yeah thanks, I was sure nRF52s had no issue with wfi, but could not make much other sense, so this was a best guess.

Do they do that in softreset? I think there is two different softresets and maybe the other one would work?

Yeah, I think ultimately being more resilient would be the key. One problem atm I think is that our `Session` is not really recoverable. Would have to make this a bit bet

[2022-03-07 22:33] Dirbaio commented on #1046
the firmware resetting itself (with `SCB::sys_reset()`) works fine. It fails when you hold RST low (for example by pressing the reset button)

[2022-03-07 23:43] Yatekii commented on #1046
Ah yeah, but that is ofc. absolutely correct and desired behavior. You ALWAYS want hard reset to reset EVERYTHING. Imagine that would not be the case. Total mayhem and 0 reliability ...

But yes, we can work around that by recovering the Session :)

I think we can close this, as it is for `probe-run` to handle this gracefully and totally expected behavior.

RTT retrial should be handled by the the

[2022-03-10 02:17] noppej commented on #788
PR #1049 will addresses this.

Any file that does not have accessible source code can be debugged in the VSCode `Disassembly` view.

[2022-03-10 02:17] #788 closed

[2022-03-10 16:50] korken89 commented on #997
@taunusflieger I've got it to work with the HS probe at least, still no luck with the DAP42 though.

[2022-03-10 16:54] Dirbaio commented on #997
For jlink it's indeed a misleading error message, since multidrop is completely unimplemented. It's not supposed to work, it should say so to the user.

Cmsis-dap probes like DAP42 and HS-PRobe not working is a different issue, these should definitely work. Could you open a separate issue @korken89 @taunusflieger  attaching trace-level logs? Thank you!

[2022-03-11 00:36] #284 closed

[2022-03-15 09:17] #1045 closed

[2022-03-17 23:15] huming2207 opened #1057 "GDB server cannot load binary?"
**Describe the bug**

Hi there,

I've installed the latest `probe-rs-cli` from git commit `222264f4b1393ac8bcb743ee9865f92ba63365db`, and I run this to spin up the GDB server:

[code]

The GDB server does start at port 1337. Then when I use a GDB instance to connect to it, it complains something like this:

[code]

However, if I use PyOCD with the command `pyocd gdbserver -t stm32l071kbux`, it see

[2022-03-17 23:53] Yatekii commented on #1057
This is not implemented :) You can download the binary with `probe-rs-cli download` beforehand. The GDB stub was only intended as an intermediate solution until we have proper support for Microsoft DAP going.

[2022-03-18 02:17] huming2207 commented on #1057
Hi @Yatekii

Oh oops, understood.

I'm using CLion and CLion only supports GDB, so I have to use GDB instead, and personally I'd prefer using GDB as we can do some automation with GDB (e.g. `gdbinit` or other scripting) which I remember DAP can't do that for now. Meanwhile, our project is a mixed C & Rust project, so I'd prefer using CLion instead of VSCode as its C/C++ plugin is quite unreliable

[2022-03-20 23:29] bradleyharden opened #1058 "Unable to `cargo flash` ATSAMD51N with `hs-probe`, but it works with a J-Link probe"
**Describe the bug**
Flashing a custom ATSAMD51N board with `cargo flash` and my J-Link probe works just fine. But if I run `cargo flash` with my `hs-probe`, I get the following:

[code]

**To Reproduce**
1. Run `cargo flash --release --chip atsamd51n20a` with a J-Link probe. Observe that it flashes successfully
2. Run `cargo flash --release --chip atsamd51n20a` with an `hs-probe`. Observe an erro

[2022-03-26 17:35] sszilvasi commented on #627
@Tiwalun and @noppej: I have recently been experimenting with RAM-only projects and [ran into issues with `probe-run`](https://github.com/knurling-rs/probe-run/issues/160#issuecomment-1077717595). Presumably, those are due to the lack of support for _software_ breakpoints in `probe-rs`.

Could you summarize the current state of the _software_ breakpoint implementation in `probe-rs` and provide ref

[2022-03-26 17:49] noppej commented on #627
@sszilvasi ... have a look at PR #1056 ... hat is the latest work I have ongoing in this are.  It uses hardware breakpoints to implement stepping at statement level.

I don't believe this will help what you are looking for.

[2022-03-27 15:19] noppej commented on #627
@sszilvasi When I was looking into software breakpoints originally, I found [this very useful article](https://interrupt.memfault.com/blog/cortex-m-breakpoints#software-breakpoint).

From what I understand of the probe-rs code, it should be reasonably straightforward to add this functionality, and not that hard to warn the user about situations where they won't work. If someone wants to PR this, a

[2022-03-28 21:53] sszilvasi commented on #627
@noppej That article is indeed very well written.

Does "reasonably straightforward" translate to "good first task"? 🙂

Given that I am still trying to come up to speed with both `probe-rs` and Rust itself, the only help I can confidently offer at this point is testing the ARM implementation.

Also, is the RISC-V implementation out-of-the-box strictly necessary?

[2022-03-28 22:23] noppej commented on #627
@sszilvasi Yes, I think it will be good learning opportunity and if you think you are open to invest future contributions to probe-rs, then I'd be willing to help. If you want,  DM me on @jack-n:matrix.org so that we can discuss in more detail.

@Tiwalun What do you think? If we have an ARM-only PR that allows software breakpoints for RAM code, would you accept that? Or do you know someone who und

[2022-03-29 18:41] Tiwalun commented on #627
Just doing it for ARM is fine, for RISCV I would assume that it's more or less the same anyway, just with a different breakpoint instruction.

[2022-04-03 05:07] 9names commented on #1058
Note for anyone trying to reproduce this for debugging: this error appears to be specific to the hs-probe firmware.
Probes that are based on the [CMSIS_5](https://github.com/ARM-software/CMSIS_5) or [DAPLink](https://github.com/ARMmbed/DAPLink) sources connect and program successfully, without requiring --connect-under-reset.
And, as stated above, j-link also works correctly.

My testing was again

[2022-04-04 13:17] eivindbergem opened #1066 "Failed to connect to RP2040 using DAP42"
**Describe the bug**

Connecting to RP2040 using DAP42 on STM32 blue pill fails with vague error message about multi-drop:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Connect SWDIO and SWCLK from DAP42 probe to RP2040
2. Run `probe-rs-cli erase --chip rp2040`

**Expected behavior**

It should connect to target and erase flash.

**Stacktrace**
[code]

**Desktop (please complete th

[2022-04-04 16:55] noppej commented on #1066
@eivindbergem Can you try connecting with a lower speed? Maybe start with a setting of 1000, and work your way up from a successful connect until it fails?

[2022-04-04 22:36] noppej commented on #1046
@Yatekii I agree. The RTT retry should be handled by the binary tools. I just don't see a reasonably way to handle it at the API level.

[2022-04-04 22:39] noppej commented on #975
@dylanede Can it be that your `launch.json` has both 'reset-after-flashing` and `halt-after-reset`? That would explain the halt you are seeing.

[2022-04-05 07:08] eivindbergem commented on #1066
@noppej Doesn't appear to make a difference:
[code]

Trace output is identical regardless of speed.

[2022-04-05 08:24] eivindbergem commented on #1066
I did a system upgrade and a reboot, and now it's working. It worked fine with an STM32 target, so it didn't occur to me that it could be that.

[2022-04-05 08:24] #1066 closed

[2022-04-05 15:03] KorvinSzanto opened #1068 "Picoprobe not detected when mounted in WSL"
**Describe the bug**
Picoprobe not detected when using ubuntu WSL2 and usbipd

**To Reproduce**
Steps to reproduce the behavior:
1. Set up usbipd in windows so that you can attach a usb device to wsl
    1. Find the picoprobe with `usbipd list`, for me it's BUSID `4-3`
    2. Attach the probe to wsl with `usbipd wsl attach --busid 4-3`
    3. Verify the device is attached in wsl with `lsusb`, for

[2022-04-05 17:03] Tiwalun commented on #1068
Are you using this probe: https://github.com/raspberrypi/picoprobe?

We unfortunately don't support it, because it's using a custom protocol. The following alternatives should work with probe-rs:

- https://github.com/majbthrd/pico-debug
- https://github.com/majbthrd/DapperMime/

[2022-04-06 06:09] birkenfeld opened #1069 "Newest ST-LINK v3 firmware not supported"
**Describe the bug**
Updating my Nucleo STM32G431 to the current STLINK-V3 firmware from STSW-LINK007 (V3J9M3) resulted in an USB device with ID 0483:3754 - this is not in the probe.rs udev rules, and when added, doesn't seem to be recognized by probe-rs (verified by looking in https://github.com/probe-rs/probe-rs/blob/master/probe-rs/src/probe/stlink/usb_interface.rs#L24)

**To Reproduce**
Steps

[2022-04-06 06:19] birkenfeld commented on #1069
Important addendum: This is after I selected "Change type" to "STM32 Debug+VCP" in the FW upgrade tool.

With the default "STM32 Debug+Mass storage+VCP" the USB ID is 374e which *is* supported.

[2022-04-06 10:27] 9names commented on #1058
I've captured some traces with dapper-mime, pico-probe and hs-probe with RUST_LOG=trace and sigrok with saleae clone @ 24MHz, running benchmark.rs with --speed 300

I grabbed the hs-probe one twice just in case it produces different results each time, they look the same to me though

[atsamd51_debugging.zip](https://github.com/probe-rs/probe-rs/files/8425958/atsamd51_debugging.zip)

[2022-04-06 11:59] 9names commented on #1058
I fed the captures through sigrok's swd decoder. the output was the same for pico-probe, hs-probe and the second hs-probe trace.
it seems to match probe-rs' interpretation of the data too, so that's nice.

Here's the output from that, in case anyone wants to look at that without loading anything in pulseview or sigrok.
[hsprobe_decode.txt](https://github.com/probe-rs/probe-rs/files/8426592/hsprobe

[2022-04-06 18:41] Tiwalun commented on #1069
Could you please try if it works with the linked branch?

[2022-04-06 18:58] #1069 closed

[2022-04-06 21:44] 9names commented on #1068
I wouldn't recommend pico-debug, that is currently not working well for C code or at all for Rust.
The list of probes that have been tested with rp2040 (and instructions for setting up DapperMime) are in the rp2040 docs.
https://github.com/rp-rs/rp2040-project-template/blob/main/debug_probes.md

[2022-04-07 04:05] KorvinSzanto commented on #1068
Understood, I was originally using `probe-run` but I opened the issue here because I saw the same behavior in `probe-rs-cli` and assumed the issue stemmed from here.

I've been able to get picoprobe + rust working well with openocd and gdb fwiw.

[2022-04-07 04:05] #1068 closed

[2022-04-07 05:45] birkenfeld commented on #1069
Yes, that works nicely. Thanks!

[2022-04-08 16:09] samueltardieu opened #1074 "Cannot flash more than 512k on STM32L475VGT6 (1M flash)"
**Describe the bug**

When the executable occupies more than 512k in flash, flashing fails with "Error 0: The execution of 'wait_for_completion' failed with code 1. This might indicate a problem with the flash algorithm." as soon as it goes over the 512k mark.

**To Reproduce**

Steps to reproduce the behavior:
1. Build a large file to later include in your executable: `dd if=/dev/zero of=/tmp/dum

[2022-04-08 16:13] Yatekii commented on #1074
This is the same issue as with other L4 cores I think. @korken89 wrote a new algo for other L4 targets that had this issue with > 64kb of flash. Maybe you can alter that and replace the algo.

[2022-04-08 18:47] noppej commented on #975
Please feel free to re-open if this is still an issue for you.

[2022-04-08 18:47] #975 closed

[2022-04-14 16:39] pozix604 opened #1077 "Flash STM32 via stm32duino bootloader"
I'd like to make an enhancement request to enable flashing of STM32 devices via the stm32duino bootloader. This allows users to avoid having to use an ST-Link and flash directly via a USB cable.

[2022-04-14 18:21] k0d commented on #994
I also have this issue, but with my own probe (based on rp2040). I can flash it with my jlink in cmsis-dap mode though.

So I did a trace, and then a diff of both the jlink and my probe. This is the result.

[code]

[2022-04-14 19:25] Yatekii commented on #1077
This is not something that would go into probe-rs but into cargo-flash for example.

You are welcome to work on it :)

[2022-04-14 19:25] #1077 closed

[2022-04-14 19:29] Yatekii commented on #994
Interesting, thanks! If I understand it correct, the red trace is the one that worked?

[2022-04-14 19:34] k0d commented on #994
Actually, no...it was the red one :)

[2022-04-14 21:11] Yatekii commented on #994
But the red one says Finished is excluded, symbolizing to me that it did not work?

[2022-04-14 21:13] k0d commented on #994
[code]

[2022-04-14 21:18] k0d commented on #994
The above is the trace that worked...with the first 2 differences hightlighted.

[2022-04-14 22:33] Yatekii commented on #994
Thanks!

Hmm it looks as if some bit went missing ... what implementation do you use on the rp2040? Curious because it's an issue with a) our CMSIS-DAP driver
b) the CMSIS-DAP spec
c) the hs-probe and whatever you use

cc: @korken89 @adamgreig

[2022-04-14 22:34] k0d commented on #994
https://github.com/majbthrd/DapperMime

[2022-04-15 17:43] k0d commented on #994
Trying to flash it with python-dap or node-dap fails as well, so I'm assuming it's either b) or c).

So probably not a fault in probe.rs I guess, however it could be good to figure out what the issue is anyway...as it might be something with hs-probe which I guess you'd want to fix.

[2022-04-15 17:55] Yatekii commented on #994
Yeah, what i think is weird about this is that just the read value is wrong. It does not actually write different data. But maybe if it reads bad bits it also writes bad bits without telling us.

[2022-04-15 17:57] Yatekii commented on #994
What is weird is that I would have guessed that this is the same issue: https://github.com/probe-rs/probe-rs/issues/1058 but it seems to be okay on the dapper-mime there which fails for you too, no?

[2022-04-15 17:59] k0d commented on #994
I'll check what my probe sends/receives...

also, that other issue looks interesting...I'll look into it and get back to you...

[2022-04-15 18:44] k0d commented on #994
[code]

[2022-04-15 18:45] k0d commented on #994
Not sure if the above log is helpful...but it's what my dapper-mime is RX/TXing.

I'm going to try to cross reference it to the trace I did.

[2022-04-15 21:55] k0d commented on #994
Some new info:
[code]

It seems to want to write to the flash sector at address 0x00010000, but I thought the flash started at 0x0 on the nrf9160. The ELF does indeed say 0x00010000, so I'm quite confused by this.
It seems to erase sector 0x00010000 with jlink just fine though...so that's even more confusing!

[2022-04-15 22:10] Yatekii commented on #994
Very odd. I mean it does not have flash at 0x00010000 so even if JLink would just wave the erase it would fail programming hmm. Does it also have stuff at 0x0 or only 0x00010000? Also, does it always fail like this?

[2022-04-15 23:13] k0d commented on #994
JLINK (running as CMSIS-DAP)
[code]

DapperMime
[code]

[2022-04-15 23:15] Yatekii commented on #994
Oh, de BP issue. Same as with the atsams then. those have the same issue. I tried debugging this a while ago. Disabling the call do clear all breakpoints makes it just fail later on tho.

[2022-04-15 23:17] Yatekii commented on #994
Also, those two traces are VERY different. How does this happen lol.

[2022-04-15 23:20] k0d commented on #994
https://github.com/probe-rs/probe-rs/blob/7e6b23c6bc861d1f29c9272197b6de2047d05982/probe-rs/src/session.rs#L511

This runs when dropping the session, so I guess the error happens before that? And then when it fails, we drop the session?

[2022-04-15 23:25] k0d commented on #994
https://github.com/probe-rs/probe-rs/blob/7e6b23c6bc861d1f29c9272197b6de2047d05982/probe-rs/src/architecture/arm/sequences/nrf53.rs << what is this? could we need something like this for nrf9160 also?

[2022-04-15 23:28] k0d commented on #994
https://gist.github.com/k0d/da5bef2a386ebdc1b28b207cd5631bd5 << full diff of the traces

[2022-04-15 23:46] Yatekii commented on #994
That's the debug sequence to unlock the nrf53. And yes, that could be required for the nrf91

[2022-04-17 09:28] k0d commented on #994
I've been trying lots of things, nothing fixed it yet. However we're receiving a WAIT response and then quit after that. I just wonder if the JLINK handles that internally itself better than we do. I'm going to hook up the debug probes to a logic analyzer and capture what's actually sent between the probe and the device.

[2022-04-17 10:58] k0d commented on #994
[CMSIS.csv](https://github.com/probe-rs/probe-rs/files/8501421/CMSIS.csv)
[JLink.csv](https://github.com/probe-rs/probe-rs/files/8501422/JLink.csv)

I've just captured the data, haven't analyzed it myself yet, but I thought I'd post it so you can take a look if/when you have time.

[2022-04-17 11:21] ruabmbua commented on #861
@Yatekii It seems like the link is no permalink, and now pointing to something unrelated.

[2022-04-17 12:03] Yatekii commented on #861
Yeah I think we can close this too. A lot of refinement work has happened since then :)

[2022-04-17 12:03] #861 closed

[2022-04-17 17:53] k0d commented on #994
I've fixed it!!!

Turns out that we don't wait enough times when we get a WAIT response. It's set to 80 in probe.rs, the J-Link ignores that we set that and waits a lot longer.

So in the firmware for my probe (based on dapper-mime), I've set it to wait the maximum 0xFFFF and it now programs the device just fine. Not sure what the best way to do a proper fix is? I guess we should really set it hig

[2022-04-17 18:48] Yatekii commented on #994
Awesome job!

Yeah, I am not sure we need 0xFFFF (maybe 0xFF for example would be enough), but we can try for now and if we see that it breaks things we can adjust.
Do you make a PR? :)

[2022-04-17 19:13] k0d commented on #994
It took around ~650 waits in the JLink...so I think 0xFF isn't enough.

Maybe we set it as 0xFFFF in probe.rs as a default and then have it as a setting the user can change? My guess is that it's ok to have the maximum...it did the ~650 waits in some small amount of milliseconds.

I've set it as 0xFFFF in my probe firmware as I sometimes use pyocd with it and I don't want to have to fix every soft

[2022-04-17 19:18] Yatekii commented on #994
Let's have it 0xFFFF in probe-rs for now. No need for a setting.

[2022-04-18 10:33] #994 closed

[2022-04-18 19:41] Yatekii commented on #943
Hey, could you retry this with current master? :)

[2022-04-20 08:46] #1074 closed

[2022-04-23 03:31] bet4it commented on #608
I use `gdbstub` on multi architectures which is determined at runtime in my project [udbserver](https://github.com/bet4it/udbserver). You could check the [code](https://github.com/bet4it/udbserver/tree/master/src/reg) to see how to implement it.

[2022-04-23 10:14] 9names commented on #1058
Comments on #1081 suggested this might be fixed.
Tested on 6968dc774f86d248368a13126cdf4e5054398216, still fails to connect with hsprobe.

HSProbe (non-turbo) - Trace after a reset, with the chip in bootloader mode:
[probe-rs-hsprobe-atsamd51-trace1.txt](https://github.com/probe-rs/probe-rs/files/8546495/probe-rs-hsprobe-atsamd51-trace1.txt)

HSProbe (non-turbo) - Second attempt, after the first o

[2022-04-28 20:29] David-OConnor opened #1100 "Add STM32 G491"
**Is your feature request related to a problem? Please describe.**
Yes

**Describe the solution you'd like**
Please add STM32 G491 series

**Describe alternatives you've considered**
Running `probe-run --list-chips` does not include any STM32 G491 entries

**Additional context**
Thanks!
- edit: This line is similar to the G431. I was able to flash and get code running with no evident issues by spe

[2022-05-10 05:57] UdayakumarHidakal opened #1108 "Probe-run is not supporting for ATSAM4L8-Xplained pro board."
**Probe-run not supporting for ATSAM4L8-Xplained pro board**

I am using this ```ATSAM4L8-Xplained pro``` which is having ```atmel EDBG (on chip debugger)```
As it is listed below ```probe-run supports ATSAM4LC8C```,but i am unable to flash binary .

[code]
while flashing the code using this command  ```probe-run microchip --chip ATSAM4LC8C``` it's throwing some errors like this
[code]
**Desktop I

[2022-05-13 07:28] UdayakumarHidakal commented on #1108
```probe-run``` not working properly , after flashing i am getting error.

[code]

[2022-05-14 15:28] Yatekii commented on #1108
Hey :)

The atmel EDBG is not supported. How did you manage to flash?
Also, ATSAMD have issues. Try probe-rs master which has several fixes.

[2022-05-20 05:59] mriise commented on #943
Still the same as above with CMSIS, but I reflashed one of my boards with Jlink and tried out the `Jtag` protocol and got the below
[code]
sadly still nothing flashed though :(

[2022-05-20 06:18] mriise commented on #943
As always a new cable changes things :^)

*fresh boot = plugged in/replugging
board flashed with JLink firmware using swd protocol has some interesting behavior:
- most scenarios it will error with a timeout
- fresh boot connecting under reset option will infinite loop with NACK

[code]
- fresh boot connecting without connecting under reset`will give (https://gist.github.com/mriise/28a09944a0f59f3

[2022-05-20 11:32] ryan-summers commented on #394
For anyone that comes here after the fact, for the STM32H7xx components, you still need to explicitly enable the debug component clocks in the DBGMCU to get them to show up in the ROM table. Otherwise, even with the fixes to search all ROM tables, the entries will be zero and the TPIU may not be found

Specifically, enable the `D3DBGCKEN` and `D1DBGCKEN` bits in the DBG MCU to get the TPIU to show

[2022-05-20 12:22] Yatekii commented on #394
I wonder if it would be feasibly doable to enable DBGMCU when we can for romtables or if that is bad. because we read some components when we connect. we could disable it after reading them.

[2022-05-20 12:26] ryan-summers commented on #394
The reason we don't is because the DBG-MCU is a vendor-specified component, and indeed changes between variants (e.g. F4/F7 have different DBGMCU than H7). We'd have to encode information about DBGMCU layouts into probe-rs, which I believe there's aversion to.

[2022-05-20 13:56] noppej commented on #394
@Yatekii ... why could we not use a custom sequence for this?

[2022-05-20 15:00] ryan-summers opened #1113 "SWO is not configured when setting up Arm-SWV"
**Describe the bug**
When calling `session.setup_swv(0, &swo_config)`, the SWO coresight peripheral is not actually configured at all. Instead, only the ITM, DWT, and TPIU peripherals are configured.

This is fine for the F7 series, as it does not contain a SWO peripheral, and TRACESWO is instead controlled through the TPIU.

On the STM32H7, this results in SWO being unconfigured, which has sole c

[2022-05-20 15:04] ryan-summers commented on #1113
It appears that the STM32F7 series uses the TPIU to control the TRACESWO pin, but the STM32H7 series drivers the TRACESWO pin via the SWO coresight component.

The F7 series uses the DBGMCU to switch operational modes of the TPIU to control either TRACESWO (serial trace) or TRACED (syncrhonous trace). In the H7, it appears that the TRACESWO pin is exclusively driven by the SWO coresight peripheral

[2022-05-20 15:08] ryan-summers commented on #1113
The H7 block diagram shows that the SWO and SWTF feed to the TRACESWO pin:
![image](https://user-images.githubusercontent.com/8771450/169557485-f04651e5-0446-4c2a-8cd6-4497601ecbf3.png)

The F7 block diagram shows that the TPIU drivers TRACESWO:
![image](https://user-images.githubusercontent.com/8771450/169557611-bf5df628-15f9-446b-a02f-d6e24ca1e37a.png)

[2022-05-20 16:29] ryan-summers commented on #1113
I'm looking at implementing a fix, but I can't seem to modify the SWO peripheral through the addresses provided in the H7 ROM table. I suspect because the request is somehow going through the wrong AP, but I'm not sure how to specify the correct AP for the write.

[2022-05-20 20:10] Yatekii commented on #394
yup, sequences are the way to go here :) there might even be a fitting one already :)

[2022-05-21 14:46] ryan-summers commented on #1057
@huming2207 You can use cargo-embed with GDB enabled to flash the device and automatically load the ELF into GDB when you start it up. While the GDB stub doesn't load the ELF onto the target, probe-rs does that natively using the probe. Then, you load the ELF + debug symbols into the GDB stub and connect to your target to start debugging. That sounds like it should do what you need it to without h

[2022-05-21 16:35] Yatekii commented on #1057
I thinkt the problem here is the CLion workflow which expects the load command to behave like this. This should actually be really eqsy addition tho :)

[2022-05-25 10:05] #1113 closed

[2022-05-27 14:27] #446 closed

[2022-05-27 14:30] noppej commented on #318
@Yatekii ... what is the status of this with #1118 merged?

[2022-05-29 03:18] kaidokert commented on #507
Was also playing with Feather-M0 just now and passing `atsamd21e17a` made it magically work.

[2022-05-29 19:19] Yatekii commented on #507
So to clarify: You intentinally passed the wrong chip to make it work? Could you specify what Chip you have?

We should diff the config files against eachother and see what the differences are :)

[2022-05-29 19:35] LongLiveCHIEF commented on #507
@Yatekii this is only happening when the board uses the `ATSAMD21G18AU` chip.  I've tested on both the feather M0 and the seeeduino xiao.  The only way to flash the chips on these boards is to use the `atsamd21e17a`.

I did some digging a little over a year ago, and determined that it came down to the flash region size being incorrect for the CMSIS pack for the 21G18au.  I compared the flash algo'

[2022-05-29 20:08] Yatekii commented on #507
Hmm then we should fix the target description file :/ Or see if there is an updated CMSIS-Pack :/

[2022-05-30 17:59] iliis commented on #76
I've run into this as well. `cargo flash` just fails with

The firmware update can be downloaded from https://www.st.com/en/development-tools/stsw-link007.html (registration required, but it works on Win/Linux/Mac)

[2022-05-30 20:35] noppej commented on #350
Closing this with the expectation that this is now fixed. Feel free to re-open if your use-case still has challenges.

[2022-05-30 20:37] Dirbaio commented on #350
AIUI #1118 only fixes it for STM32H7, so I think this is still an issue for other STM32 chips.

[2022-05-30 21:07] noppej commented on #350
Good catch. For future readers, it is probably worth pointing out that the fix requires a custom sequence, and will have to be expanded to specific chip lines using the #1118 implementation as a starting point.

[2022-06-01 20:19] Yatekii commented on #318
I think we still need to remove this or at least port the existing bits to sequences.

[2022-06-04 21:51] Yatekii commented on #531
@Dirbaio do you wanna retest this? :)

[2022-06-05 15:23] John15321 opened #1124 "Error Failed to open the debug probe."
**Describe the bug**
Im following this tutorial with the same hardware. Im trying to flash the example blinky program onto my Blue Pill but I get this error:

[code]

My ST-Link is properly connected and visible to the system. When I run `cargo flash --list-probes` I can clearly see it:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Connect Blue Pill with STLinker to the computer
2.

[2022-06-05 16:27] Yatekii commented on #1124
This is most likely because your probe driver is outdated. Can you try updating it? :) the newest version of cargo-flash on master already shows a better hint and if you enable --log=INFO you will see it even with your version :)

[2022-06-05 16:30] John15321 commented on #1124
Sure but tbh I have no idea how to do this. Im coming back to embedded after a long time and the STLinker literally has dust on it 😅

[2022-06-05 17:02] John15321 commented on #1124
that log does give me much tbh
[code]

[2022-06-05 17:15] John15321 commented on #1124
Also this is what happens when I reattach the STLinker

![image](https://user-images.githubusercontent.com/56229312/172062242-1b975917-95c4-4c82-a312-01f31558dd4c.png)

Im peeking using the Console application on mac, looking at `icdd`

[2022-06-05 17:21] John15321 commented on #1124
@Yatekii please help

[2022-06-05 17:24] Tiwalun commented on #1124
@John15321 Please update the ST-Link firmware using the [updater tool](https://www.st.com/en/development-tools/stsw-link007.html) from ST, and try again.

[2022-06-05 17:43] John15321 commented on #1124
After dwonloading the updater and installing an x86 version of java I managed to update it. Now I'm getting a different error

This is now what I get if I just want to flash it:

[code]

And If I add that flag I get this:

[code]

[2022-06-05 19:21] Yatekii commented on #1124
Did you connect the physical reset line?

[2022-06-05 19:38] John15321 commented on #1124
no, should I?

[2022-06-05 19:42] Yatekii commented on #1124
Yes. You always should :) And in this case in particular connect-under-reset does not work without :)

[2022-06-05 20:12] Dirbaio commented on #531
Unfortunately I've never been able to repro this. I don't know what I did to cause it either! :(

#1123 removes one possible case of recursion, but the one I was hitting is still there:

[2022-06-05 22:10] Yatekii commented on #531
Are you sure? The line you linked the second time is the line Tiwalun replaced the code you linked the first time with. I think this new lower level call does not reset the line anymore, which prevents the endless recursion :) But I might be mistaken ofc!

[2022-06-05 22:12] Dirbaio commented on #531
the recursion here is "write random reg -> FAULT -> write ABORT to handle the fault -> FAULT -> write ABORT to handle the fault -> FAULT ...", unrelated to line resets.

[2022-06-06 22:19] Yatekii commented on #980
I think this is intended behavior :)

[2022-06-06 22:19] #980 closed

[2022-06-07 14:05] #608 closed

[2022-06-09 02:16] jrmurdoch opened #1127 "error: Found argument '--chip' which wasn't expected"
Trying to get going with vscode but checking i have it working via command first

E:\Development\Rust\hello-world>probe-rs-debugger debug --chip esp32c3 --program-binary ./target/riscv32imc-esp-espidf/debug/hello-world --protocol jtag
error: Found argument '--chip' which wasn't expected, or isn't valid in this context

        If you tried to supply `--chip` as a value rather than a flag, use `--

[2022-06-09 09:41] burrbull commented on #1127
you need to specify chip in `launch.json` instead of pass its directly:
https://github.com/burrbull/f411-test/blob/f65db4e772f8d0dce464a0a87bf024d14766147d/.vscode/launch.json#L10

[2022-06-09 12:15] noppej commented on #1127
`probe-rs-debugger` used to accept more command line arguments, and then acted in CLI mode. We eliminated that because of overlap with other tools [see this discussion](https://github.com/probe-rs/probe-rs/issues/828), and now only operates as a server for the VSCode extension - hence the need to code your configuration in a `launch.json`.

The documentation has some [configuration examples](https

[2022-06-11 16:02] LongLiveCHIEF commented on #507
If I get a chance, I'll look into whether or not the CMSIS-Pack has been updated this weekend. If not, I can submit a PR to update the target description file for the g18au.

[2022-06-12 02:14] Alintya opened #1132 "Failed to open debug probe on windows using CMSIS-DAP"
**Describe the bug**
I'm trying to flash a STM32F411 board (black pill) using another one as CMSIS-DAP probe connected via usb.
The probe seems to be recognized and does show up with `--list-probes` but I can't get it to flash.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect probe via usb
2. Connect target board via SWD to probe
3. Run `cargo flash --chip STM32F411CEUx --release --lo

[2022-06-12 05:35] burrbull commented on #1132
`lsusb -vv`

[2022-06-13 03:04] ianrrees commented on #507
I went ahead and ran target-gen on the current SAMD21 [dev pack](https://github.com/Microchip-MPLAB-Harmony/dev_packs) - [here](https://github.com/probe-rs/probe-rs/compare/master...ianrrees:update-samd21?expand=1)- it looks like the tool now generates decimal rather than hex values, so the diff isn't particularly enlightening, but the spot checking I did doesn't indicate any changes including to

[2022-06-13 03:55] willglynn opened #1134 "xmc4000: breakpoint must be on half-word boundaries"
**Describe the bug**

`architecture::arm::core::armv7m::FpRev1CompX::get_breakpoint_comparator()` returns an error while attempting to use `probe-run` on an [XMC4800](https://www.infineon.com/cms/en/product/microcontroller/32-bit-industrial-microcontroller-based-on-arm-cortex-m/32-bit-xmc4000-industrial-microcontroller-arm-cortex-m4/xmc4800/).

[code]

**To Reproduce**
Steps to reproduce the behav

[2022-06-15 09:44] Eekle commented on #935
Fixed in rusb >=0.9.1

[2022-06-15 15:32] #935 closed

[2022-06-16 00:08] kc8apf opened #1135 "ORBTrace Mini not detected due to CMSIS-DAP string only in interface descriptor"
**Describe the bug**
ORBTrace Mini (https://orbcode.org/orbtrace-mini/) implements both CMSIS-DAP v1 and v2.  probe-rs does not find the probe.  https://github.com/probe-rs/probe-rs/blob/master/probe-rs/src/probe/cmsisdap/tools.rs#L65 is looking for the string "CMSIS-DAP" in the product string but ORBTrace Mini is a composite device so "CMSIS-DAP" is only present in the interface description.  Per

[2022-06-16 00:11] kc8apf commented on #1135
[code]

[2022-06-16 08:40] jeancf opened #1137 "ESP32C3 Error No flash memory contains the entire requested memory range"
**Describe the bug**
Using `cargo flash` to upload binary on Ai-Thinker NodeMCU Series ESP32-C3S Kit (ESP32C3-based MCU) through the built-in JTAG USB interface fails with `Error No flash memory contains the entire requested memory range 0x42000020..0x4200de82.`

**To Reproduce**
Steps to reproduce the behavior:
1. Install rust nightly toolchain and probe-rs flash crate
2. Clone https://github.com

[2022-06-16 12:45] teburd opened #1138 "NXP i.MX RT Support"
**Describe the bug**
i.MX RT isn't usable with probe-rs today

**To Reproduce**
Steps to reproduce the behavior:
1. Connect JLink to imxrt1060-evk, try and flash/debug/do-probey stuff
2. :(

**Expected behavior**
Able to flash the external flash memories of imxrt family

**Additional context**
From conversations on matrix... the problem seems to be the lack of support for the embedded language in

[2022-06-20 07:38] imrank03 opened #1140 "STM32H723ZGTx board support"
Hi, I am using `stm32h723zg` board I'm trying to erase or flash bin file using `probe-rs-cli` which shows that the chip was not found, but the chip was found in the `probe-run` list, below are the stack-traces.

I have installed the new version but I am still getting the same error, how can I fix this error.

**Stacktrace probe-rs-cli**
[code]

**Stacktrace probe-run**
[code]

[2022-06-20 14:02] noppej commented on #1140
Hi Imran,

The command you are using to `list-chips`, provides a list of all supported chips, and is no indication of what is connected to your computer.

Try `probe-rs-cli list` ... this will list the actual probes that are connected. Your probe should show up, and then you can try to force the erase to that chip, by using the `--probe` option (see `probe-rs-cli erase --help` output for the forma

[2022-06-20 16:57] imrank03 commented on #1140
Hello @noppej,

I tried what you suggested, but I'm still getting the error. Below is the command line output.

[code]

[2022-06-20 17:29] noppej commented on #1140
I am sorry, but I wasn't specific enough in my instructions. To help debug this, can you please try the following, and let me know if you get the same error:

`probe-rs-cli erase --chip STM32H723ZGTx --probe 0483:374e`

[2022-06-20 19:20] imrank03 commented on #1140
I tried, I still have the same error.
[code]

- I got the same error when I was using `prob-run` and then @burrbull  suggested this command `cargo install probe-run --git https://github.com/burrbull/probe-run --branch h7 --force` to install [probe-run](https://github.com/knurling-rs/probe-run/issues/309), after installing this branch I can see the chip `stm32h723zgtx` in the `probe-run` list, but

[2022-06-20 20:39] noppej commented on #1140
I can see that chip in the target list of the master branch of probe-rs. Similar to what @burrbull suggested, perhaps you can try to get the lastest probe-rs-cli, by doing ...
`cargo install --force --git https://github.com/probe-rs/probe-rs probe-rs-cli`

[2022-06-21 00:14] adamgreig commented on #1135
(cc https://github.com/probe-rs/probe-rs/issues/995)

The main problem with fixing this is that hidapi doesn't expose interface strings, only top-level product/vendor/serial strings, making it hard to check properly. rusb does expose these strings but we can't rely on that always working. It seems in https://github.com/probe-rs/probe-rs/issues/995#issuecomment-1032525318 that we might be able to u

[2022-06-21 00:16] adamgreig commented on #1135
It also looks like pyOCD whitelists a bunch of device names and VID/PID pairs that are known to be cmsis-dap devices, which I guess we could also do... https://github.com/pyocd/pyOCD/pull/1399/files

[2022-06-21 04:02] imrank03 commented on #1140
@noppej Thanks for the support, it's working now.

[code]

[2022-06-21 07:17] #1140 closed

[2022-06-21 12:33] Ardelean-Calin commented on #1137
I can confirm I get the same error with an ESP32-C3 with a 4MB flash size. I am willing to help in any way I can to fix this issue.

[2022-06-21 13:57] Ardelean-Calin commented on #1137
Unfortunately it still doesn't work for me...

However I tested using probe-rs as a library to halt the esp32c3, as well as reset it, and when at least those two commands functioned correctly. So at least that is a confirmation that the JTAG connection somewhat works, right?

I am currently trying to attach to a running program on the esp32c3 and set some breakpoints, so that I can be sure that at

[2022-06-21 14:09] Ardelean-Calin commented on #1137
**Update**
It seems flashing works with the direct-boot feature **enabled**. By default, when building/flashing an example, that feature is **disabled**.

The command that works for me:
`cargo flash --example blinky --features direct-boot --chip esp32c3`

[2022-06-21 14:21] jeancf commented on #1137
@noppej I originally built with `cargo install cargo-flash`. Installing from github gives the same error. I could not try using probe-rs-cli.

However I can confirm that `cargo flash --example blinky --features direct-boot --chip esp32c3` works for me as well, albeit very slowly (transfer at 82B/s).

Thanks @Ardelean-Calin !

[2022-06-21 21:15] #495 closed

[2022-06-23 01:08] willglynn commented on #1134
I learned something new. Plugging into the board's embedded J-Link debugger and trying to run `cargo-flash` tells me the core is locked up:

[code]

Doing it again here causes the titular "breakpoint must be on half-word [boundary]" error:

[code]

Trying a third time from this state with the proposed `--connect-under-reset` doesn't help:

[code]

…and in fact it leaves the chip in a state where i

[2022-06-23 02:48] willglynn commented on #1134
I can now `cargo build` a `blink` ELF binary which `openocd` can flash, `gdb` can debug via `openocd`, and which does in fact blink the LEDs on my [KIT_XMC48_IOT_AWS_WIFI](https://www.infineon.com/cms/en/product/evaluation-boards/kit_xmc48_iot_aws_wifi/). My linker script is suboptimal – it's at running code from uncached flash at 0x0C000000 – but at least it works.

I have been unable to coerce `

[2022-06-23 23:22] willglynn commented on #1134
I've familiarized myself with CoreSight™, the standard CMSIS debug sequences, and the XMC4800 reference manual enough to determine that the Infineon XMC4000 series reset is weird. Snippets from the reference manual:

<img width="518" alt="" src="https://user-images.githubusercontent.com/118362/175430112-920e9b01-b434-45e6-81aa-a690eb2173b9.png">
<img width="523" alt="" src="https://user-images.git

[2022-06-24 01:30] willglynn commented on #1134
All roads from the official tools seem to converge at SEGGER J-Link. [DAVE](https://en.wikipedia.org/wiki/DAvE_(Infineon)) (the official IDE) [packages J-Link](https://wiki.segger.com/Infineon_DAVE_4). The Infineon XMC PlatformIO support stuff [shells out to J-Link](https://github.com/Infineon/platformio-infineonxmc/blob/master/platform.py#L54-L56). The third-party XMC for Arduino [requres J-Link]

[2022-06-24 03:06] willglynn commented on #1134
🥳

[code]

I pushed this to [my `xmc4000` branch](https://github.com/probe-rs/probe-rs/compare/master...willglynn:xmc4000?expand=1), which is not yet ready for a PR but can (!) flash this chip.

[2022-06-24 04:23] willglynn commented on #1134
I'm pleased to report that `gdb-server` also works in this branch:
<img width="1291" alt="" src="https://user-images.githubusercontent.com/118362/175461766-69b4c48c-2691-4cc5-9c67-f0b644a686ea.png">

[2022-06-25 00:47] Yatekii commented on #1134
Awesome work! I love the persistence :) Sorry for not helping with any hints :(

[2022-06-28 19:55] noppej commented on #896
@MabezDev ... I've just created a draft PR #1147 with my first attempt to resolve this.  The logic I used was as follows:

We cannot do stack unwinding if we do not have debug info. However, there is one case where we can continue. When the following conditions are met:
1. The current frame is the first frame in the stack, AND ...
2. The frame registers have a valid return address/LR value.

If bo

[2022-06-29 11:12] dejanb opened #1148 "STM32L4S5VI Failed to initialize RTT"
**Describe the bug**

Failure to initialize RTT when using STM32L4S5VI board

**To Reproduce**
Steps to reproduce the behavior:
1. Attach the board
2. Run `cargo embed` on a project (note: it might work the first time, but every other attempt fail)

**Expected behavior**
Flash the binary and initialize RTT

**Stacktrace**

The thing I'm observing is failures like

[code]

Eventually failing with

[2022-06-29 16:46] noppej commented on #896
Had confirmation from @MabezDev that this now works, so will close this with PR #1147

![image](https://user-images.githubusercontent.com/5413046/176491484-12a7e910-06f4-4390-83ef-c9ff1622921f.png)

[2022-07-03 03:09] facuver commented on #1132
Hello, did you found a solution?
I have the same issue but trying to program a RP2040 with the blackpill.

[2022-07-08 19:04] #896 closed

[2022-07-08 23:16] jebiga52 opened #1157 "Segger J-Link fails to connect to RP2040"
**Describe the bug**
I have a custom board with an RP2040 on it. I can connect to the RP2040 using probe-rs-cli with an Raspberry Pi Pico running DapperMime firmware. I can also connect to the board with my Segger J-Link Base if I use Segger's JLinkExe program (all else remains constant, including the computer it's plugged in to etc). However, if I try to connect to the board using probe-rs-cli, i

[2022-07-09 01:22] adamgreig commented on #1157
Unfortunately multidrop SWD isn't supported by probe-rs for jlink probes (I believe it would need implementing in the [jaylink](https://github.com/jonas-schievink/jaylink) crate first, and then adding to the probe-rs jaylink driver). The error message is confusing because the [real error](https://github.com/probe-rs/probe-rs/blob/master/probe-rs/src/probe/jlink/arm.rs#L934) is being masked by this

[2022-07-09 01:25] jebiga52 commented on #1157
I see, thank you for the clarification. If this is a duplicate of #997 please feel free to close it.

[2022-07-09 08:33] adamgreig commented on #997
This came up again in #1157. The issue is that the jlink driver error about not supporting multidrop:

https://github.com/probe-rs/probe-rs/blob/5a7f872aa4dde49db6a9df92f606e6db0ff49388/probe-rs/src/probe/jlink/arm.rs#L933-L935
is being masked by this `map_err` higher up:

https://github.com/probe-rs/probe-rs/blob/5a7f872aa4dde49db6a9df92f606e6db0ff49388/probe-rs/src/architecture/arm/communication

[2022-07-09 16:17] Yatekii commented on #997
Ah yes, this should be a .context :)

[2022-07-10 16:07] ExplodingWaffle opened #1161 "Panic if defmt data comes in too thick and fast"
` thread 'main' panicked at 'no entry found for key', probe-rs-cli-util\src\rtt.rs:259:81`

This seems to be related to the application sending too much data over RTT/defmt. minimal repro:

[code]
Obviously this example is a bit stupid but this happened to me while sending messages in my application every 1ms (with rtic). Not sure what should happen here but probably not this.

[2022-07-10 16:13] Dirbaio commented on #1161
I think this is actually 2 separate bugs:

- probe-rs-debugger not switching RTT to BlockIfFull, so if you print too fast the buffer fills up, which corrupts the defmt stream.
- the indexing there should handle the error, and print "defmt decode failed" and carry on, instead of crashing (if the stream is corrupted, it's possible a corrupted defmt frame decodes correctly by chance to a garbage inde

[2022-07-10 18:58] TilBlechschmidt opened #1162 "Attempting to flash nRF52 after double-fault fails"
**Describe the bug**
When a double-fault occurs on the nRF52, it locks up. In such a scenario, probe-rs is unable to resolve the state and successfully flash the chip:

[code]

This situation can be remedied by either power-cycling the nRF52 and J-Tag, or starting openocd which will clear the fault:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a double-fault (throw a hard f

[2022-07-11 12:32] noppej commented on #1162
Does NRF52 support the `connect_under_reset` option? Did you try that?

[2022-07-11 12:35] noppej commented on #1161
As per matrix discussion, labeling this as an enhancement ... to add a config option to set `defmt` into blocking mode on connect, and have the config default to "true".

@Dirbaio The second part you are referring to with the possible index corruption. Is that a bug for `defmt` crate, or ???

[2022-07-11 14:14] TilBlechschmidt commented on #1162
I have not, will try to reproduce and attempt to flash with that flag in a couple of hours 🙂

[2022-07-12 14:35] diondokter commented on #1012
This may be similar to what I'm experiencing on the nRF9160.
Trace: https://gist.github.com/diondokter/0000ddbc112d67b68fe730bb1b90f315

In my case, the chip has been fully erased and nothing is on it.
I have seen this before and when the chip has our (different) bootloader flashed on it, it works just fine.
This also seems similar to #1162

My guess is that an erased nrf91 can fault into this sta

[2022-07-12 14:36] diondokter commented on #1162
I think this issue may be linked with #1012 where I've also added some info about something I ran into

[2022-07-12 20:52] quentinmit commented on #1127
The README still documents the CLI debugger.

(`launch.json` doesn't really help if I'm not already using VSCode... I tried `probe-rs-cli debug` but it doesn't seem like it's anywhere near as complete as `probe-rs-debugger` (was).)

[2022-07-12 20:58] noppej commented on #1127
Oops ... I will update the README. That was an oversight.

I get your point about if you don't have VSCode ... sorry but we are all volunteer contributors, and maintaining overlapping functionality (multiple CLI tools) just steals time away of adding new features.

Most of the functionality in `probe-rs-debugger` is actually just a front-end for the core `probe-rs::debug` functionality, so if you

[2022-07-13 12:40] ryan-summers opened #1172 "Extend Arm tracing support to multiple endpoints"
**Is your feature request related to a problem? Please describe.**
Tracing ARM applications is relatively easy with the ITM and SWO CoreSight peripherals. However, usability of this approach is limited because there is very little (or no) buffering between the ITM and SWO output module. As a result, any burst in interrupt traffic that generates a significant amount of trace data will result in a t

[2022-07-19 17:52] #318 closed

[2022-07-19 17:52] #1172 closed

[2022-07-19 19:55] doesnotcompete opened #1178 ""Probe was not found" even though probe is detected by `probe-rs-cli list`"
**Describe the bug**
I am attempting to use a Raspberry Pi Pico with the (DapperMime)[https://github.com/majbthrd/DapperMime/] firmware to connect to a second Pico with `probe-rs`. The same issue occurs with the similar `pico-debug` project.
`probe-rs-cli list` detects the probe, but trying to actually connect to the probe results in a "Failed to open the debug probe." error.
The specified cause "

[2022-07-19 23:39] adamgreig commented on #1178
Could you try running probe-rs-cli with RUST_LOG=trace to get better log messages?

[2022-07-20 13:54] doesnotcompete commented on #1178
Thanks for the suggestion, I am still quite new to Rust and was not aware this flag existed. This is the output of `RUST_LOG=trace probe-rs-cli debug`:
[code]
I have also tried to connect to the probe with OpenOCD (which I really should have done before opening this issue) and encountered a similar problem.

However, I was now able to resolve the problem based on an issue report in the `pico-debug

[2022-07-22 02:04] peter9477 commented on #364
Note regarding the APPROTECT stuff: new revs of many of their chips (at least nRF52) now do have that protection enabled by default, and (as far as I can tell after just starting into this) actually re-protected automatically after every hard reset (or power cycle) unless the firmware actually turns it off again.  See [this PDF](https://infocenter.nordicsemi.com/pdf/in_141_v1.1.pdf) or google "nor

[2022-07-24 18:29] MabezDev opened #1181 "Generalized Jtag scan?"
The only probe that implements jtag chain scanning is ftdi. AFAIK (and I'm not an expert on JTAG) scanning can be implemented with simple ir & dr transfers. It it worth adding a `scan` trait method to `JTAGAccess` with a default implementation using ir & dr transfers?

[2022-07-24 19:22] Yatekii commented on #1181
I guess that would be useful, yes :) Tho I am very much a novice when it comes to JTAG features and how they are used in RISC-V and the likes :)

[2022-07-24 19:33] MabezDev commented on #1181
You and me both! Seems like a fun thing to try to implement though. Feel free to assign it to me if you like :)

[2022-07-24 19:37] Yatekii commented on #1181
Without hesitation, SIr!

[2022-07-24 19:38] adamgreig commented on #1181
I wrote this just for CMSIS-DAP with a vague idea to one day build it into probe-rs, but you might find it useful: https://github.com/adamgreig/jtagdap/blob/master/src/jtag.rs

[2022-07-24 19:45] Yatekii commented on #1181
Oh yeah that old thought also never made it :D

[2022-08-07 18:36] #1138 closed

[2022-08-08 13:36] mciantyre opened #1193 "Cannot flash target if NVM region exceeds flash algorithm's range"
**Describe the bug**
If a target's NVM region is larger than the flash algorithm's range, probe-rs does not select the flashing algorithm. If there's only one flashing algorithm available for this target, probe-rs cannot flash the target.

This filter implements the behavior we're discussing.

https://github.com/probe-rs/probe-rs/blob/e18546e2daa2c9b2ec28b1a7d4edadc57037b93b/probe-rs/src/flashing/

[2022-08-08 21:54] noppej opened #1194 "Support flashing ESP32C3 without direct boot mode"
**Describe the bug**
Attempting to flash the examples from https://github.com/esp-rs/esp-hal/tree/main/esp32c3-hal

This used to work, but somewhere in the latest updates between probe-rs and esp32c3-hal it has stopped working.

**Error**
`Error while flashing No flash memory contains the entire requested memory range 0x42000020..0x4200a1da.`

**Reproduce**
` cargo-flash --chip esp32c3 --elf targe

[2022-08-08 22:26] MabezDev commented on #1194
Are you passing `--features direct-boot`? The direct boot feature lets the chip act like a more traditional chip. I haven't figured out how to do flash the normal method yet.

[2022-08-09 12:58] noppej commented on #1194
@MabezDev When I try the `--features direct-boot` I get a linker error:
[code]

[2022-08-10 13:35] noppej commented on #1194
Update: The `direct-boot` issue has been resolved with the fix in https://github.com/esp-rs/esp-hal/pull/145.

However, the original problem still persists, and I cannot flash unless I use `direct-boot`.

Does anyone know who created the original `ESP32C3.yaml` target spec? I think it just needs an update to adjust to latest esp32c3-hal changes, because it used to work.

[2022-08-10 13:53] MabezDev commented on #1194
That was me :).

I don't think this ever worked. At least, I never even tried because it _shouldn't_ have worked. If you inspect the ELF produced in normal bootloader mode the physical address is wrong. This is because on Espressif chips, the two busses, instruction & data alias the same physical flash space.

On top of the differences above, when not using `direct-boot`, the ROM bootloader inside

[2022-08-10 14:21] noppej commented on #1194
So weird. I've been testing and developing debug capability on this board for the last 6 months, and flashing continuously as part of the process. It was only after I updated my esp32c3-hal crate yesterday that it stopped working. Do you want me to reproduce a working setup on past branches, or should we just move on?

[2022-08-10 14:23] noppej commented on #1194
@probe-rs/core ... What are your thoughts on this question?

[2022-08-10 14:34] MabezDev commented on #1194
I'd be interested to see if it does! Maybe I'm misunderstanding some parts of the esp boot process, or maybe we just got lucky that it did work :D.

[2022-08-10 15:19] MabezDev commented on #1194
Just to touch on this, the extra code inside probe-rs should be minimal. We can depend on https://crates.io/crates/espflash to do the elf to esp format bin conversion, and then we can use the current bin flashing code that already exists in probe-rs to write that to flash.

Where this might get a bit trickier is the CLI tooling, does `cargo-flash` assume elf? How would it know to switch to the esp

[2022-08-10 15:56] noppej commented on #1194
@MabezDev I've managed to create a test case where flashing with probe-rs works(ed).   Here's what I did:

- Forked and older branch of `esp-hal`  to https://github.com/noppej/esp-hal/tree/bootloader_probe_rs
- Added a custom linker script (this is from my own personal project where flashing used to work).  If you look at it, you will see that it is a merge of the hal's linker scripts from some ti

[2022-08-11 14:10] MabezDev commented on #1194
Thanks for the test case! It turns out however that even there you're using direct boot mode: https://github.com/esp-rs/esp-hal/commit/337b9990e11a96a5c1a52a5df972ad7668e99318#diff-2481625f2157ed7115547f87f4c57154dd8f9c2c121de63f504cb30606caaed5R48. This is probably because direct boot was the default on the C3 for a while.

[2022-08-11 14:17] noppej commented on #1194
Aha ... that makes perfect sense. OK, so that resolves that mystery.

Let's focus on your [suggestion/question](https://github.com/probe-rs/probe-rs/issues/1194#issuecomment-1210849663)

[2022-08-11 16:03] noppej opened #1195 "`probe-rs-debugger` doesn't always poll RTT data in a timely manner."
**Describe the bug**
When debugging with VSCode (using the `probe-rs-debugger`) and the target halts, it sometimes happens that not all the data that has been written by RTT on the target, shows up in the client.

**Expected behavior**
1. If the target halts because of a breakpoint, or after a step operation, I would expect to see all the RTT data that has been written at that point.
2. If the tar

[2022-08-11 16:10] noppej opened #1196 "Debug: Support MS DAP new extensions to improve "Step Into Target" user experience."
The MS DAP spec recently introduced [updates to the "Step Into Target" request](https://code.visualstudio.com/updates/v1_69#_debug-adapter-protocol), to improve user experience when multiple targets are available on the same line in the source file.

Please update `probe-rs-debugger` to be able to support this request.

[2022-08-11 16:17] noppej opened #1197 "Debug: Improve 'Disconnect' versus 'Terminate' behaviour"
Recent [updates to the MS DAP spec](https://code.visualstudio.com/updates/v1_66#_debug-adapter-protocol), added documentation to disambiguate the 'Disconnect' and 'Terminate' requests.

Please update `probe-rs-debugger` to honour this definition.

[2022-08-11 17:00] noppej opened #1199 "Debug: Standardize MS DAP 'Response' and 'ErrorResponse' usage."
For historic reasons, `probe-rs-debugger` does not consistently use the `ErrorResponse` request (with embedded `Message` object) to provide feedback to users. Some code refactoring is required to implement this more consistently.

[2022-08-11 20:51] noppej commented on #965
Closing as fixed.

[2022-08-11 20:51] #965 closed

[2022-08-11 23:06] #1127 closed

[2022-08-16 21:45] rockboynton opened #1204 "Add support for CC1352R"
**Is your feature request related to a problem? Please describe.**
No, only requesting to add a new supported chip

**Describe the solution you'd like**
Support CC1352R

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-08-17 14:42] noppej opened #1206 "`probe-rs-debugger` multiple 'unnamed' RTT channels do not open new output windows."
**Describe the bug**
If the user has unnamed RTT channels, then the default output window on the client is named "Unnamed RTT Channel".
When multiple such channels exist, the client does not open new windows for each new channel after the first one.

**Expected behavior**
Assign a unique default name, so that the user can see the output of all configured channels, even when they don't have user as

[2022-08-17 14:52] noppej opened #1207 "RTT: On RISC-V, the assigned RTT Channel names are not showing up."
**Describe the bug**
If a user has RTT channels with a user configured name, this name is not assigned to the output window.

**To Reproduce**
Steps to reproduce the behavior:
[code]
1. Run this program with a probe-rs client, e.g. `probe-rs-debugger`

**Expected behavior**
The channel name for the output window should show as "String RTT Channel" (It works correctly on ARM chips).

[2022-08-18 15:08] noppej commented on #1161
@ExplodingWaffle I was not able to reproduce your panic with the test case provided. That said, I made the change suggested by @Dirbaio (switching RTT to BlockIfFul).

Can you please re-test this against the PR #1210 ?
(Hint: You can install with `cargo install --git https://github.com/probe-rs/probe-rs --force --branch blocking_defmt probe-rs-debugger`, then when you are done, you can revert by d

[2022-08-18 19:10] #1195 closed

[2022-08-18 19:10] #1206 closed

[2022-08-21 20:27] Yatekii opened #1212 "Provide a way to have board/flash configurations for chips"
Currently we make a chip config for each possible chip configuration we know.

So if a chip has external flash, we need to create a config with specific flash algos for each e.g. SPI flash.

We should provide a way to add "boards" or external flashes which let you select more features of a chip or allow derivative configs.

[2022-08-23 17:01] jminer commented on #1204
I'd like to use probe-rs with the CC2650 and CC2652, which should be pretty similar to the CC1352R. These chips use cJTAG, and I imagine it will be a decent amount of work to add cJTAG support. I think by default they use cJTAG, but they can be switched to use regular JTAG. However, with JTAG, you can't use SWO, and I know you can with cJTAG.

Here are some pages with information about cJTAG:
- ht

[2022-08-24 18:14] #1207 closed

[2022-08-25 18:28] noppej commented on #1161
Closing this as fixed in #1210. Please feel free to re-open with additional information if you can still reproduce it.

[2022-08-25 18:28] #1161 closed

[2022-08-29 06:59] Hoohaha opened #1214 "probe-rs-cli report errors when flashing application if it enabled RTT."
**Describe the bug**

probe-rs-cli report errors when flashing application if it not enable RTT.

**To Reproduce**

Steps to reproduce the behavior:
1. Run command: `probe-rs-cli run lpc845breakout_hello_world.axf --chip LPC845M301JBD64`

**Stacktrace**
[code]
**Desktop (please complete the following information):**
 - Windows 10

[2022-08-29 08:34] Yatekii commented on #1214
Run always tries to connect to RTT. So this is expected. If you just want to download a binary, there is a `probe-rs-cli download` subcommand :)

[2022-08-29 08:34] #1214 closed

[2022-08-30 15:03] sakian opened #1217 "Sometimes get `Control block corrupted` errors"
**Describe the bug**
I'm getting an issue when I'm to use `cargo embed` with a custom board containing a Microchip ATSAMDA1G16B processor. Normally after flashing, the RTT channel opens and runs as expected, but regularly I get a terminal that streams variations of the following error:
[code]

I'm using the ATSAMD21J16B chip to flash the DA1 chip that I'm using, but I've also tried generating supp

[2022-08-30 18:57] Yatekii commented on #1217
Hmm that sounds like it accesses the block before it was properly initialized. The question is if we are just too fast or if it will never be properly initialized.

[2022-08-30 19:10] sakian commented on #1217
It seems like the ControlBlock ID gets written, but we attempt to access it before the rest is initialized. Sometimes it fails at the array sizes check in `Rtt::from` and sometimes it fails after init when we try to read from an up channel (in `Channel::read_pointers`).

[2022-08-30 19:53] sakian commented on #1217
So seems like when I initialize and get the corruption error, if I retry it works ok. However, I can still get the failure when doing the first read. Maybe we should do a check of the read/write pointers in the init as well to make sure they're ok?

This does seem like Scenario 3 described in [rtt.rs](https://github.com/probe-rs/probe-rs/blob/c331885f38b7ca4ea81dcc01e3c34283f6a6b72f/rtt/src/rtt.rs

[2022-08-30 21:19] sakian commented on #1217
So I've added a 50ms delay before initializing RTT and it seems to avoid the issue. I guess I need to dig deeper into why this situation can happen in my case. Is the assumption that the chip initializes the ControlBlock before we try to read it?

[2022-08-30 23:24] Yatekii commented on #1217
Yes. But we need to be resilient against cases where it takes a bit ofc :) I am not sure we ever hardned that.

[2022-08-31 05:46] Hoohaha opened #1219 "probe-rs-cli download not start application, but probe-rs-cli run do"
**Describe the bug**

I am doing some trails to exeplorer features of probe-rc-cli tool.

I have an NXP lpc845breakout evk board.
Flashed `hello_world.bin` with command `probe-rs-cli download`, it flashed successful, however the COM show nothing. Expected it print hello world when it is runing.

[code]

If use command `probe-rs-cli run`, the hello world is printed once it flashed successfully.
See

[2022-09-02 12:45] diondokter commented on #1012
Oh, I've now found out this is actually a regression from 0.12

I used an older probe-run that used 0.12 and the flashing went fine on my nrf9160, but a newer cargo-flash didn't work and now that I've updated probe-run to a version that uses 0.13, it now can't flash the mcu when it is in a crashed state.

(Specifically, I know the current code is hardfaulting by executing a function call at a plac

[2022-09-05 13:57] MikeJongen opened #1220 "Attaching to LPC55S69 seems to stop code execution"
**Describe the bug**
A clear and concise description of what the bug is.

When executing
`probe.attach("LPC55S69JBD100", Permissions::default())`
it seems to stop the execution of the code running on the lpc55S69.
Because this is also done as part of the flash command, code execution is stopped during the flash procedure, and a manual reset is required. This breaks the RTT connection, making it ha

[2022-09-06 00:15] WaffleLapkin opened #1379 "Turning off logging doesn't work"
**Describe the bug**
You can't turn off logging via `Embed.toml`.

**To Reproduce**
Steps to reproduce the behavior:
1. Write the following to `Embed.toml`
[code]
3. Run `cargo embed`
4. Observe an error:
[code]

**Expected behavior**
`log_level = "OFF"` turns off logging, as suggested by [`default.toml`](https://github.com/probe-rs/cargo-embed/blob/c1218a540b815a5b46261bb9c7c66ad2ccd55e6d/src/con

[2022-09-10 02:30] TheButlah opened #1221 "GDB fails to connect when using RTT"
**Describe the bug**
When using RTT with cargo embed at the same time as the gdb server, the gdb client fails to connect. It works when RTT is not turned on.

**To Reproduce**
Steps to reproduce the behavior:
1. Use espressif's [`riscv32-esp-elf-gdb`](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/tools/idf-tools.html#riscv32-esp-elf-gdb) on macos (I have not tried with nor

[2022-09-10 03:17] TheButlah opened #1222 "ESP32-C3 error reading variable"
**Describe the bug**
The debugger sucessfully connects and can step through and pause breakpoints. But the variable values are not working.

Edit: [Link to code](https://github.com/SlimeVR/SlimeVR-Rust/tree/e070ff01f9dcfe40702240590b11ca3d554ab277/firmware)

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to cargo-embed with RTT *off* (due to #1221)
2. Connect vscode to gdb (I am usin

[2022-09-10 11:15] Yatekii commented on #1222
I would dare say this is a GDB/espressif/vscode issue but ofc bugs in probe-rs are never to be ruled out. Can you enable login to see if the memory location that should be read is the one that is read by probe-rs? Rust debug symbols are kinda trash at times and it could well be it tries to access the wrong address.

[2022-09-10 18:06] TheButlah commented on #1222
sure, this is with passing `RUST_LOG=trace` to `cargo embed`?

[2022-09-12 17:39] noppej commented on #1222
@TheButlah Are you open to testing this with the `probe-rs-debugger` and probe-rs extension for VSCode? That way we can determine where the issue lies, and if it is in the probe-rs libs, then it gives us the ability to debug to where exactly the problem lies.

- Install the **probe-rs-debugger** extension in VS Code, by downloading the _latest available_ `probe-rs-debugger-x.x.x.vsix` from the [Re

[2022-09-13 08:40] TheButlah commented on #1222
Here is what happens with this launch.json:
[code]

DebugConsole output:
[code]

[2022-09-13 08:50] macthestack opened #1223 "Not being able to flash the nRF9160"
I think this is related to #470 that I filed almost two years ago.

I'm trying to get the nRF9160 working on a new project and I'm running in to the same problem I thought was fixed long ago. Could it be that I have misconfigured something or is this a regression of the probe code?

[code]

Thanks!

[2022-09-13 09:02] macthestack commented on #1223
Just tested that it works with cargo embed version 0.11.0

[2022-09-13 09:06] TheButlah commented on #1222
Here is my attempt at reproducing the bug with RUST_LOG=debug. I cannot even get the breakpoints working now, not sure what changed. Here is the log when launching `cargo embed monitor` (no flashing):
[log_start.txt](https://github.com/probe-rs/probe-rs/files/9555298/log_start.txt)

Here is the log when connecting with vscode "native gdb debug" launch task (as described in original post):
[log_con

[2022-09-13 13:37] noppej commented on #1222
@TheButlah For the test you did with `probe-rs-debugger` ... in an ideal world, I'd like to see the launch.json do both the build and the flash, just to be 100% sure that the host debugger and the target binary are in synch. It is obvious that the debug info is computing incorrect memory addresses for variables and source code lines, and this is most likely something to do with how the code is bui

[2022-09-13 18:06] TheButlah commented on #1222
I did this once already, and then to save time I simply turned off flashing

Sure, I should have posted that in the original github issue. I've edited the first post with a link to the repo.

[2022-09-13 18:50] noppej commented on #1222
I will start debugging using your code. As an aside, I had to edit your `cargo.toml` to remove your defmt_fix, because of ...
[code]

[2022-09-13 19:35] TheButlah commented on #1222
This should fix it, I deleted that branch after it got merged to `esp-hal`:

[code]

That being said, even after doing this the code no longer produces *any* rtt info with `cargo embed`. I'm very confused, as this most definitely used to work. Here is my log:

[code]

Could it be that I set too many breakpoints, and they are still saved on the hardware somehow? And probe-rs is having trouble clear

[2022-09-13 19:37] TheButlah commented on #1222
Oops, I forgot that I have `todo!()`s in there, so of course the RTT doesnt work. 😅

[2022-09-13 20:46] noppej commented on #1222
@TheButlah I have sent you a PR on your code to show a working config with probe-rs-debugger, which allows the variables to be queried, and has working RTT.

What this proves to me is that the `probe-rs` lib is working as expected, and the problem is likely in the gdb layers.

Do you agree? Is there something I can do to help you further?

<img width="1728" alt="Screen Shot 2022-09-13 at 4 36 56 P

[2022-09-13 21:02] noppej commented on #1222
PS. With `probe-rs`, you no longer need the following in your `.cargo/config.toml` file ...
[code]

[2022-09-15 13:17] noppej commented on #877
Closing this, now that all the known items have been implemented, and debug functionality is now considered on-par with Arm.

I suggest we treat new discoveries as independent issues.

[2022-09-15 13:17] #877 closed

[2022-09-15 13:38] MabezDev commented on #877
Thank you @Tiwalun & @noppej for all your hard work on this! It's very pleasant to use probe-rs on RISCV cores now :)

[2022-09-15 13:40] Yatekii commented on #877
Oh man, this is awesome! Thanks so much!

[2022-09-16 12:02] #1058 closed

[2022-09-17 20:24] TheButlah commented on #1222
@noppej I just attempted your PR. It doesn't work for me. Here is the output of the Debug Console in vscode:
[code]

[2022-09-17 20:48] TheButlah commented on #1222
Here is what I see with log level debug:
[log.txt](https://github.com/probe-rs/probe-rs/files/9592593/log.txt)

[2022-09-17 20:55] TheButlah commented on #1222
If I run this with log level Info once again, and ensure that no breakpoints are set, this is what I see:
[code]
Then I attempt to hit the "pause" button:
[code]

However, I see this in the GUI:
<img width="712" alt="Screen Shot 2022-09-17 at 4 54 33 PM" src="https://user-images.githubusercontent.com/6969415/190876085-06b9660e-7fe3-4807-99c8-4cf4a68a7eff.png">

Please lmk if there is any more info

[2022-09-17 21:00] noppej commented on #1222
@TheButlah ... this is weird. I've just tried again, and everything works exactly the way I would expect it to.

- Can you try adding `"speed": 1000` to your `launch.json` file? Just to slow USB comms down a bit and test if that is a factor?
- Can you give me details about which board and probe specifically you are using? I am using [this one](https://docs.espressif.com/projects/espressif-esp-dev-

[2022-09-17 21:05] noppej commented on #1222
In this log, it tries to set instruction breakpoints. That surprised me.
- Did you set these on purpose?
- Do you have the "Disassembly" window open?
- Is it possible to clear all breakpoints, and then set a single source code breakpoint early in `main()`?

[2022-09-17 21:12] TheButlah commented on #1222
I am using [this](https://github.com/TheButlah/slimevr_pcb/tree/5b4e7ea92693ecd4c8b72c9c5600073246561c61/hardware/ferrous_slime) board, which I designed myself. It has worked successfully in the past, so it is not a hardware problem here. I based the design on [espressif's offiicial rust dev board](https://github.com/esp-rs/esp-rust-board), although the design diverged somewhat.

Setting `"speed":

[2022-09-18 14:44] noppej commented on #1222
@TheButlah I think we are dealing with two different issues here.

1) For some reason `probe-rs-debugger` doesn't recognize when the board has halted (that is why you had to press "pause" to get a stack trace. I can reproduce this issue and will have a look at it.
2) The problem with setting breakpoints and reading variable memory ... since this is why you logged this call, let's focus this thread

[2022-09-18 17:08] noppej commented on #1222
@TheButlah

I've just created a draft PR #1228 for this issue. Can you please test it and confirm that it improves the halt problem?

PS. You can install with `cargo install --git https://github.com/probe-rs/probe-rs --force --branch debug_launch_status probe-rs-debugger`

[2022-09-18 21:26] TheButlah commented on #1222
Sorry, I should clarify what I mean when I say it used to work. It works with espressif's official tooling (openocd, gdb, esp-idf etc). I have not gotten it to work with probe-rs before

[2022-09-18 21:52] TheButlah commented on #1222
sure, here is a log. A few things to note: This is with debug level logs, and I have turned `"haltAfterReset": true` in the `launch.json` file to demonstrate the halt without me manually pushing the pause button.
[log.txt](https://github.com/probe-rs/probe-rs/files/9595304/log.txt)

I have been using your PR, which does uses `"haltAfterReset": false`. I assume this implies that the only way the bo

[2022-09-19 08:00] TheButlah commented on #1222
OK, some new details have come to light. I'm not sure if it is because I am using [your PR](https://github.com/SlimeVR/SlimeVR-Rust/pull/33) or what, but I can now set breakpoints on *non-macro* functions. So for example I can set a breakpoint on a `let p = self::peripherals::get_peripherals();` line but not on a `error!("yeet")` line.

<img width="1143" alt="Screen Shot 2022-09-19 at 3 49 28 AM"

[2022-09-19 14:16] noppej commented on #1222
Have you made any changes to that PR, or can I assume I can test with it as an "exact" copy of the code you run?

[2022-09-19 14:17] noppej commented on #1222
Can you please open a new issue for this and assign it to me?

[2022-09-19 14:18] noppej commented on #1222
Can you please open a new issue for this and assign it to me?

[2022-09-19 14:28] noppej commented on #1222
The default VSCode UX for debugging only has a `VARIABLES` panel, with additional panels for `WATCH`, `CALL STACK`, `BREAKPOINTS`, and `MODULES`.  I am not sure where your `REGISTERS` and `STATICS` panels come from, but I am guessing they are remnants that were created by another debug extension. If they bother you, you can hide them, or disable other debug extensions. For `probe-rs` debug extensi

[2022-09-19 14:32] noppej commented on #1222
Does this mean we can now close this issue, and we can deal with the other outstanding ones individually?

[2022-09-19 16:31] #1222 closed

[2022-09-19 16:46] TheButlah opened #1230 "probe-rs doesn't break on or step over macros"
**Describe the bug**
Breakpoints are not able to be set on lines that invoke macros.
In addition, stepping to a line with a macro invocation fails, and execution resumes until the next breakpoint is hit.

**To Reproduce**
Steps to reproduce the behavior:
1. Try setting a breakpoint on a macro invocation like `defmt::error!()`

OR
1. Pause execution on a line before a macro
3. Try to step to next l

[2022-09-19 16:46] TheButlah commented on #1230
@noppej

[2022-09-19 16:54] TheButlah opened #1231 "Stack overflow when expanding "static" section in probe-rs-debugger"
**Describe the bug**
When expanding this static section in the VSCode plugin:
<img width="308" alt="Screen Shot 2022-09-19 at 12 49 32 PM" src="https://user-images.githubusercontent.com/6969415/191070657-02b784a8-7777-4777-9aba-23f42ce5ab2f.png">
I get this:
<img width="644" alt="Screen Shot 2022-09-19 at 12 50 26 PM" src="https://user-images.githubusercontent.com/6969415/191070783-071d4ede-a4a3-4

[2022-09-19 16:55] TheButlah commented on #1231
@noppej

[2022-09-19 17:02] TheButlah commented on #1222
Created #1230 and #1231

[2022-09-19 17:28] noppej commented on #1230
FYI. Instead of hardcoding `DEFMT_LOG` in your `.cargo/config.toml` file, you can just use the `launch.json` setting for `consoleLogLevel` and the `DEFMT_LOG` value will follow whatever that setting is.

[2022-09-19 17:29] noppej commented on #1230
PS. Finally, with `probe-rs-debugger` you do NOT need the `.cargo.config.toml` setting:
[code]

By deleting this, you will find your binary is both smaller and faster :)

[2022-09-19 17:47] noppej commented on #1231
Thanks. I am able to reproduce this on a simple test case that uses the embassy executor. They are using a linked list for task management that causes an infinite loop in determining the task header's value.

I am working on a fix and will ping you when it is ready to test.

[2022-09-19 17:53] TheButlah commented on #1230
I had it because of `esp-backtrace`. But I am no longer using the backtrace stuff from that crate and have removed it, so I will remove that flag now :)

[2022-09-19 18:02] TheButlah commented on #1230
I have been flashing with `DEFMT_LOG=debug cargo embed flash` ([link](https://github.com/SlimeVR/SlimeVR-Rust/blob/1f2fd208996ee82b560f16232a34d1760f2ce8e1/firmware/Embed.toml#L24)), and have been running the vscode debugger without flashing. When doing it this way, I do see see the log statements in the RTT console run by the vscode debugger so they are definitely not compiled out. Yet I still ca

[2022-09-19 18:07] TheButlah commented on #1230
I just tested again with debug level logs in both the cargo toml, the CLI, and the launch.json. The behavior remains the same as described above.

This time I also got:
<img width="649" alt="Screen Shot 2022-09-19 at 2 06 25 PM" src="https://user-images.githubusercontent.com/6969415/191084533-0fa9c467-86fe-42cb-ac8e-9d4467b5ac01.png">

[2022-09-19 18:11] TheButlah commented on #1230
Another test: I just tried deleting the `[env]` section from the `.cargo/config.toml` and turning flashing on in my `launch.json`. As before, I have `debug` log levels in the `launch.json`.

Behavior remains the same as described above. I did not get the "core must be halted" popup this time, maybe that is unrelated?

[2022-09-19 18:19] TheButlah commented on #1230
BTW, the panic I am referring to occurs much later in the program, after the async executor has already been initalized and the tasks begin attempting IO. I have confirmed that if I were to set a breakpoint at line 29, then when the debugger fails to break at line 26, it will continue until line 29.

[2022-09-19 19:06] noppej commented on #1230
@TheButlah This is running into a situation where the debug info doesn't provide enough information to know where to set a breakpoint for that statement.  The code to step correctly relies on knowing which is the next statement (there can be multiple statements on a single line in the source, and each statement is made up of multiple machine instructions which can be grouped into multiple executio

[2022-09-19 19:21] TheButlah commented on #1230
Can this scenario be detected before actually resuming execution? It would make the experience much better if the step function didn't step and instead warned you that it would cause execution to be fully resumed. That way I could use the step function without it randomly (from the user's perspective) resuming execution

[2022-09-19 19:25] noppej commented on #1230
This is what I've been aiming for in the code, but there are obviously some scenarios that escape detection. But your point is 100% valid :)

[2022-09-19 19:48] TheButlah commented on #1194
@noppej I was able to find this, if thats helpful :)

[2022-09-19 21:00] noppej commented on #1231
@TheButlah Can you please test your static variable issue against PR # 1232?

Reminder, you can install locally with ...
[code]

[2022-09-19 21:14] noppej commented on #1194
@TheButlah Thanks, that is a good overview, and I suspect that using it alongside looking at their source, it should be enough.

@Yatekii / @Tiwalun / @Dirbaio / @adamgreig ... I have no experience with probe-rs flash algorithms, so would appreciate your input in this. Is there any chance we can create a flash algorithm with this level of complexity, or do we need to resort to something as describ

[2022-09-19 22:43] TheButlah commented on #1231
Yep, this appears to fix it!

[2022-09-19 23:01] noppej commented on #1231
Thanks - I appreciate your patience and commitment with logging issues, testing and helping to improve this repo!

PS. That PR branch has an outstanding (newly introduced problem), so it needs a bit more testing/work from me before I submit it for review/merge.

[2022-09-20 18:56] #1231 closed

[2022-09-20 22:03] OleStrohm opened #1234 "cargo-flash does not work with seeed xiao nrf52840"
**Describe the bug**
`cargo flash --list-probes` does not list the seeed xiao nrf52840, and so none of the other functionality works either.

**To Reproduce**
1. Plug in the seeed xiao nrf52840
2. Double click the button to enter bootloader mode
3. Run `cargo flash --list-probes`

**Expected behavior**
It should list the seed xiao nrf52840 as a probe, and then the rest of the functionality should

[2022-09-21 06:49] Yatekii commented on #1234
So probe-rs supports CMSIS-DAP probes, ST-Links and J-Links. Everything else is not supported (yet).
I am not sure what this board uses. Glancing over the page you linked didn't tell me anything. But since it's apparently used with the Arduino IDE, I am kind of sure it uses the USB-Bootloader instead of a debug probe, which is out of scope of this project.

[2022-09-21 10:16] ctron opened #1235 "micro:bit v2.20 fails to keep stable connection"
**Describe the bug**

After a while (depending on the using `probe-run` or `cargo embed`) both terminate with:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Flash
2. Let it run
3. boom

probe-run fails after 5-30 seconds. cargo embed after ~15 minutes.

**Expected behavior**

It should be as stable as the micro:bit v2.00.

**Stacktrace**

n/a

**Desktop (please complete the followi

[2022-09-21 12:23] noppej commented on #1235
@ctron Can you please provide a little bit of additional information about your environment?

For example:
- Which RTT libraries are you using `defmt` or basic `rtt-target`?
- Which versions of the various dependencies?
- How big are the RTT buffers?
- What speed are you connecting at?
- How frequent are you writing to RTT, and how much data at a time?

There are literally 100's or variables that

[2022-09-21 15:08] ctron commented on #1235
Sure, I will try to. The full code is here: https://github.com/Eclipse-IoT/eclipsecon-2022-hackathon/tree/main/firmware

* It is using defmt
* The list of dependencies can be seen in the [Cargo.toml](https://github.com/Eclipse-IoT/eclipsecon-2022-hackathon/blob/main/firmware/Cargo.toml) file
* > How big are the RTT buffers?

  I have no idea.
* I tried speeds of: 100, 1000, 10000 kHz … didn't make

[2022-09-21 15:50] noppej commented on #1235
@lulf When I clone and follow your README to run this, I get this ...
[code]

Am I missing something obvious?

[2022-09-21 15:57] lulf commented on #1235
@noppej apologies, i had some local changes that were not committed. Please pull and try again now

[2022-09-21 16:03] noppej commented on #1235
@lulf Thanks. That works, but all I've managed to prove is that it works on V2 as you said LOL

While doing that I confirmed that V2.20 boards are on backorder in Canada, so it seems the fastest I can get one is Oct 19th :-(

[2022-09-21 16:11] lulf commented on #1235
I'm receiving one tomorrow so I can debug it further. I'll post whatever I find here . Thanks anyway ☺️

[2022-09-21 17:54] OleStrohm commented on #1234
Ah, I see, that's understandable!

It seems like the actual program used to upload in the end is adafruit-nrfutil (which is a patched version of nrfutil made by nordicsemi), which seems to basically be a special version of a dfu flasher, which I believe is the bootloader used.

Do you know how other nrf52840 boards differ in their implementation, do you have to connect via a JTAG connector or do t

[2022-09-21 18:07] Yatekii commented on #1234
probe-rs can communicate over SWD and JTAG with more protocols being in the making but moving slowly. We are a **debug probe** library, so DFU is out of scope. That would go directly into `cargo-flash` and I would accept PRs there :)

We flash nRF52840 over SWD, as pretty much all ARM MCUs are flashed :)

[2022-09-22 09:11] OleStrohm commented on #1234
Thanks for the help! Closing this as it's outside the scope :)

[2022-09-22 09:12] #1234 closed

[2022-09-24 07:14] LeandroMarceddu opened #1236 "probe-rs-cli-util keeps panicking"
**Describe the bug**
![image](https://user-images.githubusercontent.com/227830/192085309-38a75933-6204-4345-8ebb-d15f1883eb59.png)
This keeps happening in both attach mode and launch mode.

**Stacktrace**
I need more info on how to pass the backtrace environment variable to VSCode's debug console.

**Desktop (please complete the following information):**
 - Windows 11

[2022-09-24 13:20] Yatekii commented on #1236
Hey :)

Please provide a bit more info around your setup.
It sounds like it's actually an error with `defmt` . Do you use the correct version (the version you use in the firmware needs to match the one used by `probe-rs-cli-util`)? Do you have `defmt` set up correctly? According to the error the `defmt` symbol lookup fails, which points to `defmt` troubles.

Best,
Noah

cc: @noppej

[2022-09-24 14:02] LeandroMarceddu commented on #1236
Hey there.

The weird thing is it works pretty well for about a minute and then it suddenly panicks.

Project is generated via cargo generate from https://github.com/rp-rs/rp2040-project-template.

Project is currently viewable at https://github.com/LeandroMarceddu/rusty-kiln.

[2022-09-24 14:24] Yatekii commented on #1236
Maybe it tries to access a specific symbol only after 1 minute and for some whatever reason the symbol is not generated by `defmt`?

[2022-09-24 14:37] LeandroMarceddu commented on #1236
[code]

[2022-09-24 14:50] Yatekii commented on #1236
Hmm yeah that's odd indeed.
`defmt` generates debug symbols to reconstruct the log statements on the host. And the error you get tells us that it fails to look up a certain symbol, which is odd.

[2022-09-25 12:05] cstrahan opened #1238 "Debugger not working on Pico"
**Describe the bug**

In VSCode, attempting to launch the debugger against a Raspberry Pi  Pico (using another Pico as a CMSIS-DAP debugger, using [DapperMime](https://github.com/majbthrd/DapperMime)) results in this error:

[code]

and

[code]

However, `cargo embed` works just fine (I can flash and view my defmt logs via the RTTUI), so I can rule out hardware issues.

**To Reproduce**

Using the

[2022-09-25 12:09] cstrahan commented on #1238
D'oh -- I gave the options another once over, and noticed `"connectUnderReset": false` -- don't know how I kept overlooking that. Suspected that might be the issue -- sure enough, setting that to `false` resolves the issue.

[2022-09-26 08:52] lulf commented on #1235
Quick update on whether or not writing to RTT has an effect. Printing to RTT every 4 seconds, I'm seeing the device crash after running up to the following times:

27 s
441 s
766 s
16 s
81 s

[2022-09-26 12:57] noppej commented on #1236
@LeandroMarceddu I looked at your code, and I couldn't see anything obvious that contributes to the issue. That said, you have quite a few dependencies and I was wondering if you'd be willing to try to systematically reduce code functionality and dependencies, in the hope that it is one specific conflict that results in that.

My thinking is that this will either identify a conflict, or reduce you

[2022-09-26 12:59] noppej commented on #1238
Thanks for the sleuthing. I'm re-opening this, because I think it would be helpful if we caught this in the code, and warned the user (or ignore and warn).

[2022-09-26 13:00] noppej commented on #1235
Does this mean the connection remains stable when you have no RTT output?

[2022-09-26 13:00] lulf commented on #1235
No, it remains unstable even if there is no RTT output.

[2022-09-26 13:03] LeandroMarceddu commented on #1236
Would simply commenting them out work? I will try that.
As of right now I do have indeed quite a few unused deps, however I *do* need them in the future.

[2022-09-26 13:46] LeandroMarceddu commented on #1236
https://github.com/LeandroMarceddu/rusty-kiln/tree/e566761a56fb6784deea01bd6e393c96f5c2ac48

I've reduced it to about the bare minimum to get atleast some functionality out of the board, yet it still occurs.

[2022-09-26 14:59] noppej commented on #1236
Awesome. I can actually reproduce it with this test-case. Let me have a look at it and get back to you.

[2022-09-26 16:06] noppej commented on #1236
@LeandroMarceddu . Can you please test this against the PR?
`cargo install --git https://github.com/probe-rs/probe-rs --force --branch noppej/issue1236 probe-rs-debugger`

[2022-09-26 19:05] TheTinderstick opened #1242 "Errors flashing XMC1400 with JLink on BOOT-KIT board"
**Describe the bug**
Unable to flash a XMC1400 (Cortex-M0) on the BOOT-KIT eval board.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate chip family description file from CMSIS pack using target-gen
2. Build example executable
3. Try flashing example using cargo flash (command see stacktrace)

**Expected behavior**
Erase and flash chip

**Stacktrace**
<details><summary>Huge trace</sum

[2022-09-26 19:45] Yatekii commented on #1242
Can you please paste an unmangled trace? :)
Also, the trace suggests that the device id not respond to a request, but it's hard to tell from the mangled trace.
Have you tried `--connect-under-reset`? That fixes some issues.

[2022-09-26 20:38] #1236 closed

[2022-09-26 20:47] TheTinderstick commented on #1242
Hi,

I attached logs for the command without --connect-under-reset ([xmc1400_flash_error.log](https://github.com/probe-rs/probe-rs/files/9649572/xmc1400_flash_error.log)) and with ([xmc1400_flash_error_2.log](https://github.com/probe-rs/probe-rs/files/9649574/xmc1400_flash_error_2.log)). It doesnt work with the flag but the error looks different and I cant see what went wrong from the trace.

I al

[2022-10-01 18:16] mciantyre opened #1251 "Specify stack size for flash algorithm"
**Is your feature request related to a problem? Please describe.**

I'm looking for a way to configure the stack size for my device's flashing algorithm. I'll use this to avoid a stack overrun that corrupts my flashing algorithm.

<details>
<summary>Observations and testing (click to expand)...</summary>

When developing #1250, probe-rs would fail to flash the Cortex M7 on an MIMXRT1170 EVK. It wo

[2022-10-07 02:09] Nashenas88 opened #1252 "probe-rs-debugger crashed when loading breakpoint"
**Describe the bug**
`probe-rs-debugger`:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. checkout https://github.com/nashenas88/servo-pio at revision 5dca7b2994fef2e75c851cd56e093904064db0ba
2. Attach rp2040-based board (above bug captured on Pimoroni Servo2040)
3. Run probe-rs-debugger extension in vs code, relying on existing launch.json configuration
4. Set a breakpoint on line 23

[2022-10-10 22:49] afternoon opened #1253 "Raspberry Pi Pico + pico-debug: Failed to get information for AP ApAddress { dp: Multidrop(11002927), ap: 0 }"
**Describe the bug**
I'm using `probe-run` to debug a rust binary for the Raspberry Pi Pico/RP2040. I'm using [pico-debug](https://github.com/majbthrd/pico-debug/) as a probe.

**To Reproduce**
1. Install `pico-debug` by flashing the provided `pico-debug-gimmecache.uf2` to a Raspberry Pi Pico.
2. `$ probe-run --chip RP2040 target/thumbv6m-none-eabi/debug/microgroove --verbose --speed 1000`

**Expe

[2022-10-10 22:52] afternoon commented on #1253
BTW, I'm aware that other probe options exist, e.g. DapperMime, but I wanted to flag that pico-debug might not be supported by probe-rs correctly right now. pico-debug has the nice property that it is a virtual probe, running on the 2nd core of a RP2040. For apps only using a single core it does not require additional hardware.

[2022-10-10 22:59] Yatekii commented on #1253
This issue should be fixed on `probe-rs` master. `probe-run` does not use master afaik. You could try with `probe-rs-cli` form master :)

[2022-10-11 19:57] afternoon commented on #1253
Thanks for the speedy reply! Great to know this is fixed. I'm actually trying to use `cargo-embed`. I pulled the latest version and tried to build it with the master version of `probe-rs`, but got a stack of errors. I think I'll wait until the next releases of `probe-rs` and `cargo-embed` are cut. Thanks again for your help, and for an amazing project!

[2022-10-11 20:48] Yatekii commented on #1253
You can use `--locked` to make `cargo-embed` build :)

[2022-10-11 21:17] afternoon commented on #1253
OK, thanks! I'm afraid I'm not sure how to do that. I tried updating `Cargo.toml` to point only to git for `probe-rs` and running `cargo update`. I tried doing `cargo build --locked`. Both gave the following error output:

[code]

[2022-10-11 21:22] Yatekii commented on #1253
`--locked` only works with install :) You can try: https://github.com/probe-rs/cargo-embed/pull/386

[2022-10-11 21:46] afternoon commented on #1253
Wow! Loving the full service. 😆

From the `cargo-embed` clone root, I did:

[code]

Back in my project running `cargo embed` still spits out the same error. I can see from the `Cargo.lock` that its pulling in `probe-rs` version `7fb62550`, so this is surprising.

[code]

`probe-rs-cli list` finds the `pico-debug` probe:

[code]

[2022-10-12 13:49] afternoon commented on #1253
I’ll close this issue since a fix is in master. I’ll reopen if I bump into this issue again later. Thanks so much for your help @Yatekii!

[2022-10-12 13:49] #1253 closed

[2022-10-14 12:49] arbrauns opened #1378 "Standalone usage as RTT client"
**Is your feature request related to a problem? Please describe.**
Currently, `cargo-embed` seems to be designed purely as a frontend for `cargo` and thus Rust projects.

**Describe the solution you'd like**
It would be great to be able to use `cargo-embed` as an RTT client for non-rust projects, since Segger's own tools are woefully inadequate.

**Describe alternatives you've considered**
The RTT